@import '../../../styles/index.scss';

.mobileBidList {
  &__sortInfoLine {
    @extend %sortInfo;
  }
}

.mobileTitle {
  @extend %gridMobileHeaderBackButton;
}

.header {
  &__info {
    &__main {
      @extend %gridMobileHeaderTopInfo;

      &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &--verticalAlign {
          align-items: center
        }
      }
    }

    &__breadcrumb {
      @extend %gridHeaderLinkMain;

      &__text {
        @extend %gridHeaderLink;
      }
    }

    &__title {
      @extend %gridHeaderSmallTitle;
    }

    &__link {
      font-size: rem-calc(16);
      text-decoration: underline;
    }
  }

  &__sideMeta {
    color: $gray-6;
    font-size: rem-calc(16);

    &--satisfied {
      color: $info-color;
    }
  }
}
