@import '../../../styles/index.scss';

.pdfReport {
  text-align: center;
  color: $gray-med-dark;
  padding: rem-calc(4) 0;
  font-size: rem-calc(14);

  &__generating {
    @extend %ani-blink;
    margin: 0;
  }

  &__status {
    margin: 0;

    &__action {
      text-decoration: underline;
      margin: 0 rem-calc(5);
      cursor: pointer;
      display: inline-block;
      color: $info-color;

      a {
        color: $info-color;
      }
    }

    &--failed {
      color: $alert-color;
    }

    &--small {
      font-size: rem-calc(14);
    }

    &--gray {
      color: $gray-med-dark;
    }
  }

  @include media-query(desktop) {
    color: $black;
    margin-right: rem-calc(16);
    text-align: right;
  }
}
