@import '../../../../styles/index.scss';

.bidList {
  &__box {
    @extend %stickyBoundingBox;

    &__list {
      @extend %profile-list;

      &__list__item {
        @extend %stickyBoundingBox--listItem;
      }
    }

    &__header {
      @extend %stickyBoundingBox--header;
    }
  }

  &__category {
    @extend %profile-list;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    font-size: $medium-small-font-size;

    &__item {
      @extend %profile-list--item;
      flex-direction: column;
      cursor: pointer;
    }
  }

  &__record {
    display: flex;
    padding: rem-calc(8) rem-calc(16);
    border-bottom: 1px solid $gray-lighter;
    min-height: rem-calc(48);

    &__link {
      display: flex;
      justify-content: space-between;
      flex: 1 1 auto;
      line-height: initial;
      &--selected {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        font-size: rem-calc(12);
      }
    }

    &:last-child {
      border-width: 0;
    }

    &__title {
      font-size: rem-calc(14);
      font-weight: bold;
    }

    &__range {
      @extend %gridTableLabel;
    }
  }

  &__selected {
    border-bottom: rem-calc(1) solid $gray-lighter;
    margin-bottom: $global-lg-padding;

    &--complaince {
      display: flex;
      flex-wrap: wrap;
      column-gap: $global-lg-padding;
      margin-top: $global-md-padding;

      label {
        display: flex;
        gap: $global-sm-padding;
      }

      svg {
        max-width: rem-calc(16);
        max-height: rem-calc(16);
        g > g {
          fill: $sea-green-color;
        }
      }
      span {
        color: $gray-light-2;
      }
    }
  }
}
