@import '../../../styles/index.scss';

.propertyEditDesktop {
  &__mainContainer {
    max-height: 100vh;
    background-color: $gray;
  }

  &__form {
    position: relative;
    top: 2%;
    left: 1.3%;
    background-color: $white;
    width: rem-calc(720);
    height: 96%;
    overflow: auto;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 60% 40%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
      'img temp'
      'fields temp';
  }

  &__removeImage {
    z-index: 150;
  }

  &__container {
    &__image {
      grid-area: img;
      border: 1px solid $gray-lighter;
      padding: 0;
    }

    &__fields {
      grid-area: fields;
      display: flex;
      border: 1px solid $gray-lighter;
      border-top: none;
      padding: $global-padding;
      padding-bottom: $global-lg-padding;
      overflow: auto;
      background-color: $white-dark;
    }

    &__templates {
      grid-area: temp;
      border: 1px solid $gray-lighter;
      border-left: none;
      overflow: auto;
    }
  }

  &__logoContainer {
    width: 50%;
  }

  &__fieldsContainer {
    width: 70%;
  }

  &__cancelButton {
    width: rem-calc(80);
    padding: $global-sm-padding;
    position: absolute;
    top: $global-padding;
    left: $global-padding;
    background-color: $gray;
    color: $body-font-color;
    border-radius: $global-radius;
    font-size: $medium-font-size;
    z-index: 150;
    border: 1px solid $black;

    &__chevronIcon {
      width: rem-calc(6.4);
      transform: rotate(180deg);
      margin-right: rem-calc(4);
    }
  }

  &__removePropertyImageButton,
  &__removeLogoButton {
    position: absolute;
    top: 54.3%;
    left: 46%;
    background-color: transparent;
    text-decoration: underline;
    color: $primary-dark-color;
    border: none;
    z-index: 150;
    margin-top: $global-padding;
    font-size: $medium-font-size;
  }

  &__removeLogoButton {
    top: 80.5%;
    left: 9%;
  }

  &__imageInputLabel {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $global-sm-padding;
    position: relative;
    color: $primary-dark-color;
    font-weight: 600;
    transition: all 400ms ease-in;
    overflow: hidden;
    cursor: pointer;
    background-color: $white;
    text-align: center;
    z-index: 100;
    background-color: transparent;

    .propertyEditDesktop__options {
      height: $global-mlg-padding;
      width: rem-calc(288);
      position: absolute;
      top: 94%;
      left: 34%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      background-color: rgba(242, 242, 242, 0.75);
      font-size: $medium-font-size;
      padding: $global-md-padding;
      z-index: 150;
      border: 1px solid $gray-lighter;

      &__title {
        margin: 0;
        font-size: $medium-font-size;
        color: #1d1e20;
        cursor: pointer;
      }

      &__option {
        margin: 0;
        text-decoration: underline;
        font-size: $medium-font-size;
        color: $primary-dark-color;
      }
    }
  }

  &__logoInputLabel {
    @extend .propertyEditDesktop__imageInputLabel;
    background-color: $white;
    height: rem-calc(128);
    width: rem-calc(144);
    margin-top: rem-calc(8);
    margin-left: 0;

    &__text {
      padding-bottom: $global-mlg-padding;
      color: $gray-med-dark;
      font-size: $medium-font-size;
    }

    .propertyEditDesktop__options {
      top: 79%;
      left: 0%;
      border: 1px solid $gray-lighter;
      width: 100%;
    }

    &__option {
      margin: 0;
      text-decoration: underline;
      font-size: $medium-font-size;
      color: $primary-dark-color;
    }
  }

  &__imageInput {
    display: none;
  }

  &__formGroup {
    label {
      font-weight: 600;
      color: $primary-dark-color;
    }

    input[type='text'] {
      @extend %inputText;
      margin: 0 0 rem-calc(3) 0;
    }

    input[id='yearBuilt'],
    input[id='numberOfUnits'] {
      width: rem-calc(86);
    }

    &__control {
      margin-bottom: $global-padding;

      &__heading {
        text-align: center;
        font-size: $medium-font-size;
      }
    }

    textarea {
      @extend %inputText;
      margin: 0;
    }

    select {
      @extend %inputSelect;
    }
  }

  &__teamButton {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background: transparent;
    color: $primary-color;
    border: 1px $primary-color solid;
    text-align: center;
    line-height: $global-lg-padding;
    border-radius: $global-radius;
    cursor: pointer;
  }

  &__saveButton {
    line-height: $global-lg-padding;
    width: 100%;
    font-weight: bold;
    font-size: $medium-font-size;
    text-transform: uppercase;
    background: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
  }

  &__spacer {
    height: $global-padding;
  }

  &__buttonContainer {
    display: flex;
    justify-content: flex-end;
    background-color: $gray-light-6;
  }

  &__topSaveButton {
    @extend .propertyEditDesktop__saveButton;
    width: rem-calc(120);
    height: $global-llg-padding;
  }

  &__templates__title {
    height: 10%;
    text-align: center;
    padding: $global-mlg-padding $global-padding;
    color: $gray-dark;
    font-weight: bold;
    font-size: $medium-font-size;
    text-transform: uppercase;
    background-color: $white-dark;
    border-bottom: 1px solid $gray-lighter;
  }

  &__templates__list {
    height: 65%;
    background-color: $white-dark;
    overflow: auto;
    &__item {
      height: rem-calc(45);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: $global-mlg-padding;
      font-size: $medium-small-font-size;
      border-bottom: 1px solid $gray-lighter;
    }
  }

  &__templates__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__trelloButton,
  &__templatesButton {
    display: block;
    width: 80%;
    background: transparent;
    border: solid 2px $primary-color;
    color: $primary-color;
    font-size: $medium-font-size;
    font-weight: 600;
    text-align: center;
    line-height: $global-lg-padding;
    border-radius: $global-radius;
    margin-top: rem-calc(21);
  }

  &__trelloButton {
    margin-top: $global-padding;
    border: solid 2px $gray-dark;
    color: $gray-dark;

    &:disabled {
      opacity: $button-opacity-disabled;
    }
  }
}
