@import '../../../styles/index.scss';

.propertyEditDesktop {
  &__mainContainer {
    background-color: #f2f2f2;
    max-height: 100vh;
  }

  &__form {
    position: relative;
    top: 2%;
    left: 1.3%;
    background-color: #fff;
    width: 45rem;
    height: 96%;
    overflow: auto;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 60% 40%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
      'img temp'
      'fields temp';
  }

  &__removeImage {
    z-index: 150;
  }

  &__container {
    &__image {
      grid-area: img;
      border: 1px solid #d9d9d9;
      padding: 0;
    }
    &__fields {
      grid-area: fields;
      display: flex;
      border: 1px solid #d9d9d9;
      border-top: none;
      padding: 1rem;
      padding-bottom: 2rem;
      overflow: auto;
      background-color: #f8f8f8;
    }
    &__templates {
      grid-area: temp;
      border: 1px solid #d9d9d9;
      border-left: none;
      overflow: auto;
    }
  }

  &__logoContainer {
    width: 50%;
  }

  &__fieldsContainer {
    width: 70%;
  }

  &__cancelButton {
    padding: 0.5rem;
    width: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: $gray;
    color: $body-font-color;
    border-radius: $global-radius;
    font-size: 0.75rem;
    z-index: 150;
    border: 1px solid $black;
    &__chevronIcon {
      width: 0.4rem;
      transform: rotate(180deg);
      margin-right: 0.4em;
    }
  }

  &__removePropertyImageButton,
  &__removeLogoButton {
    position: absolute;
    top: 54.3%;
    left: 46%;
    background-color: transparent;
    text-decoration: underline;
    color: $primary-dark-color;
    border: none;
    z-index: 150;
    margin-top: 1rem;
    font-size: 0.8rem;
  }

  &__removeLogoButton {
    top: 80.5%;
    left: 9%;
  }

  &__imageInputLabel {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $global-sm-padding;
    position: relative;
    color: $primary-dark-color;
    font-weight: 600;
    transition: all 400ms ease-in;
    overflow: hidden;
    cursor: pointer;
    background-color: $white;
    text-align: center;
    z-index: 100;
    background-color: transparent;

    .propertyEditDesktop__options {
      height: 1.5rem;
      width: 18rem;
      position: absolute;
      top: 94%;
      left: 34%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      background-color: rgba(242, 242, 242, 0.75);
      font-size: 0.8rem;
      padding: 0.8rem;
      z-index: 150;

      &__title {
        margin: 0;
        font-size: 0.8rem;
        color: #1d1e20;
        cursor: pointer;
      }

      &__option {
        margin: 0;
        text-decoration: underline;
        font-size: 0.8rem;
        color: $primary-dark-color;
      }
    }
  }

  &__logoInputLabel {
    @extend .propertyEditDesktop__imageInputLabel;
    background-color: #fff;
    height: 8rem;
    width: 9rem;
    margin-top: 0.5rem;
    margin-left: 0;
    &__text {
      padding-bottom: 1.5rem;
      color: #666;
      font-size: 0.8rem;
    }
    .propertyEditDesktop__options {
      top: 79%;
      left: 0%;
      border: 1px solid #d9d9d9;
      width: 100%;
    }
    &__option {
      margin: 0;
      text-decoration: underline;
      font-size: 0.8rem;
      color: $primary-dark-color;
    }
  }

  &__imageInput {
    display: none;
  }

  &__formGroup {
    label {
      font-weight: 600;
      color: $primary-dark-color;
    }

    input[type='text'] {
      @extend %inputText;
      margin: 0 0 rem-calc(3) 0;
    }

    input[id='yearBuilt'],
    input[id='numberOfUnits'] {
      width: rem-calc(86);
    }

    &__control {
      margin-bottom: $global-padding;

      &__heading {
        text-align: center;
        font-size: $medium-font-size;
      }
    }

    textarea {
      @extend %inputText;
      margin: 0;
    }

    select {
      @extend %inputSelect;
    }
  }

  &__teamButton {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background: transparent;
    color: $primary-color;
    border: 1px $primary-color solid;
    text-align: center;
    line-height: $global-lg-padding;
    border-radius: $global-radius;
    cursor: pointer;
  }

  &__saveButton {
    @extend .propertyEditDesktop__teamButton;
    background: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
  }

  &__spacer {
    height: 1rem;
  }

  &__templates__title {
    height: 10%;
    text-align: center;
    padding: 1.5rem 1rem;
    color: #555;
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: uppercase;
    background-color: #eaeaea;
    border-bottom: 1px solid #d9d9d9;
  }

  &__templates__list {
    height: 65%;
    background-color: #f8f8f8;
  }

  &__templates__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__trelloButton,
  &__templatesButton {
    display: block;
    width: 80%;
    background: transparent;
    border: solid 2px $primary-color;
    color: $primary-color;
    font-size: $medium-font-size;
    font-weight: 600;
    text-align: center;
    line-height: $global-lg-padding;
    border-radius: $global-radius;
    margin-top: 1.3rem;
  }

  &__trelloButton {
    border: solid 2px #555;
    color: #555;
    margin-top: 1rem;
  }
}
