@import '../../styles/index.scss';

.sortBy {
  display: flex;
  flex-direction: row;

  &__item {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  // Sort by, selector
  &__label,
  &__menu {
    width: auto;
    margin-bottom: 0;
    font-size: $medium-font-size;
  }

  &__label {
    margin-right: $global-xsm-padding;
    color: $gray-light-2;
    margin-right: rem-calc(5);
  }

  // Sort direction, selector
  &__sortDirButton {
    @extend %sortDirButton;
    transform: none;
  }
}
