@import '../../../styles/index.scss';

.container {
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;

  @include media-query(desktop) {
    margin: $global-lg-padding $global-padding $global-padding;
    overflow: visible;
  }
}

.group {
  @extend %gridTableSection;
}

.heading {
  @extend %gridTableSectionTitle;
  position: sticky;
  top: 0;
  z-index: 12;
  padding: $global-padding $global-lg-padding;
  text-align: center;
  font-weight: normal;
  font-size: rem-calc(22);

  @include media-query(desktop) {
    top: $inspectionStatusBarHeight;
    border-left: none;
    border-right: none;
  }
}

.action {
  margin: $global-padding 0;
  display: flex;
  justify-content: center;

  &__clear {
    @extend %actionButton--blackText;
  }
}
