@import '../../../styles/index.scss';

.header {
  @extend %gridMobileHeaderTopInfo;
  &__propertyName {
    @extend %gridHeaderLink;
  }

  &__breadcrumb {
    @extend %gridHeaderLinkMain;
  }

  &__title {
    @extend %gridHeaderSmallTitle;
  }

  &__pdfReport {
    text-align: center;
    color: $white;
    background-color: $black;
    padding: rem-calc(4) 0;
    font-size: rem-calc(14);
    margin: 0;
  }
}
