@import '../../styles/index.scss';

$dropdown-carrot-size: rem-calc(5);

.dropdown {
  position: absolute;
  visibility: hidden;
  top: 100%;
  right: 0;
  transform: none;
  height: 0;
  opacity: 0;
  list-style: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  z-index: 15;
  border-radius: $global-radius;
  background-color: $white;
  box-shadow: 0 rem-calc(3) rem-calc(8) rgba(0, 0, 0, 0.4);
  transition: opacity 120ms ease-in, transform 300ms ease-in-out;

  @include media-query(desktop) {
    right: auto;
    left: 50%;
    transform: translate(-50%, -8%);
  }

  // Arrow-up
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0 auto;
    top: -1 * $dropdown-carrot-size;
    right: $dropdown-carrot-size * 2;
    border-left: $dropdown-carrot-size solid transparent;
    border-right: $dropdown-carrot-size solid transparent;
    border-bottom: $dropdown-carrot-size solid $white;

    @include media-query(desktop) {
      right: auto;
      left: calc(50% - #{$dropdown-carrot-size});
    }
  }

  &__item {
    a,
    button {
      display: block;
      width: 100%;
      padding: ($global-padding * 0.75) $global-padding;
      background-color: transparent;
      outline-width: 0;
      border-width: 0;
      line-height: rem-calc(26);
      text-align: left;
      font-size: rem-calc(16);
      font-weight: bold;
      text-decoration: none;
      color: $gray-dark;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}

.dropdown--right {
  left: 0;
  &::after {
    left: auto;
    right: $dropdown-carrot-size;
  }
}
