@import '../../../styles/index.scss';

.header {
  @extend %gridMobileHeaderTopInfo;

  &__link {
    @extend %gridHeaderLink;
  }

  &__breadcrumbs {
    @extend %gridHeaderLinkMain;
  }

  &__title {
    @extend %gridHeaderSmallTitle;
  }

  @include media-query(desktop) {
    padding: 0;
    background-color: transparent;

    &__title {
      font-size: rem-calc(32);
    }
  }
}
