@import '../../../styles/index.scss';

.label {
  display: inline;
  padding: 0;
  margin: 0 rem-calc(4) 0 0;
  font-size: rem-calc(14);
  font-weight: bold;
  color: $gray-dark;
}

.value {
  margin: 0 rem-calc(4) 0 0;
  font-size: rem-calc(14);
  color: $gray-dark;
}
