@import '../../../../styles/index.scss';

.container {
  display: flex;
  position: relative;
  padding: $global-sm-padding $global-padding;
  justify-content: space-between;
  min-height: rem-calc(200);
  border-bottom: 1px solid $gray-lighter;

  &__left {
    flex: 1;
    padding-right: $global-padding;
  }

  @include media-query(desktop) {
    padding: $global-sm-padding $global-lg-padding;
  }
}
