@import '../../../styles/index.scss';

$property-profile-tablet-avatar-offset: $global-xxlg-padding + $global-padding;

.propertyProfile__header {
  &__banner {
    @extend .upsertProperty__uploadPrimary__present;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: rem-calc(100);

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &::before {
      background: url(/icons/sparkle/banner-background.svg);
      background-size: cover;
      z-index: 0;
    }

    &::after {
      background-color: rgba(93, 93, 93, 0.85);
      z-index: 0;
    }

    &__wrapper {
      position: relative;
      max-height: inherit;
      z-index: 1;
    }

    &__image {
      max-height: inherit;
    }

    &__headline {
      font-weight: bold;
      margin: 0;
      line-height: 1.2;
      color: $white;
      padding-left: $global-padding;
      padding-right: $global-padding;
    }
  }

  &__ctaItems {
    @extend %propertyProfileLinks;
    padding: 0;

    a {
      text-decoration: none;
    }

    // Chevron Icon
    svg {
      display: block;
      position: absolute;
      width: rem-calc(11);
      height: rem-calc(20);
      right: rem-calc(10);
      top: 50%;
      margin-top: rem-calc(-10);

      path {
        fill: $white;
      }
    }
  }

  &__subMenu {
    padding: 0 nth($global-padding, 1);
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;

    background-color: $info-color;
    color: $white;
    font-size: ($small-font-size * 1.25);
    line-height: 1.4rem;
    white-space: nowrap;
  }

  &__deficientItems {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: rem-calc(8) rem-calc(16) rem-calc(8) rem-calc(8); // extra right for chevron
    list-style: none;
    background-color: $tertiary-color;
    background-image: url(/icons/ios/chevron-white.svg);
    background-repeat: no-repeat;
    background-size: rem-calc(11, 20);
    background-position: right 10px center;
    cursor: pointer;

    > li {
      display: block;
      flex: 0 1 auto;
      padding: 0 rem-calc(8);
      white-space: nowrap;
      line-height: 1.8;
      font-size: $medium-font-size;
      color: $white;
    }
  }

  &__label {
    @extend %skp-mini-label;
  }

  @include media-query(tablet) {
    &__banner {
      max-height: unset !important;

      &__wrapper {
        width: 100%;
        max-width: rem-calc(720) + $property-profile-tablet-avatar-offset;

        // Avatar left offset + Avatar margin left
        padding: 0 $property-profile-tablet-avatar-offset;
      }

      &__image {
        width: 100%;
      }
    }
  }
}
