@import '../../styles/index.scss';

.wrapper {
	display: flex;
	width: calc(100% + #{$sliderNavWidth});
	transform: translateX(#{-1 * $sliderNavWidth});
	overflow: hidden;
	transition: 0.25s transform linear;

	// Reveal slider nav on open
	&--open {
		transform: translateX(0);
	}

	// Always reveal slider nav
	@include media-query(desktop) {
		transform: translateX(0);
	}
}

.mainSide {
	width: calc(100% - #{$sliderNavWidth}); // fix offseting issues w/ wrapper
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@include media-query(desktop) {
		width: calc(100vw - #{$sliderNavWidth});
	}
}
