.mainSide {
  &--shortened {
    margin-left: 250px;
  }
}

.headerSide {
  //display: none;
  margin-top: 100px;
  background-color: yellowgreen;
}

.navSide {
  display: none;
}

@media (max-width: 600px) {
  .headerSide {
    display: block;
    background-color: yellow;
  }

  .navSide {
    display: block;
  }
}
