@import '../../../styles/index.scss';

.item {
  display: flex;
  justify-content: space-between;
  padding: $global-sm-padding $global-padding;
  border-bottom: 1px solid $gray;
  cursor: pointer;
  font-size: rem-calc(14);
  line-height: 1.4;

  &--selected {
    background-color: $gray;
  }
}

.icon {
  path {
    fill: $gray-6;
  }
}
