@import '../../../../styles/index.scss';

.strong {
  font-size: rem-calc(14);
  font-weight: bold;
  max-width: rem-calc(300);
  text-align: center;
  display: block;
  margin: auto;

  @include media-query(desktop) {
    font-size: rem-calc(16);
    font-weight: normal;
    max-width: rem-calc(450);
    text-align: left;
    margin: 0;
  }
}
