@import '../../../styles/index.scss';

.trelloSelectionModal {
  height: 100%;
  max-height: rem-calc(557);
  padding: 0;
  background-color: $gray-light-3;
  overflow-x: hidden;

  &__backIcon {
    svg {
      width: rem-calc(18);
      height: rem-calc(23);
      padding-bottom: rem-calc(6);
    }
  }

  &__emptyHeading {
    padding: $global-padding $global-lg-padding;
  }

  &__items {
    list-style-type: none;
    border-bottom: 1px solid $gray-light-3;

    &__input {
      display: none;
    }

    &__label {
      width: 100%;
      padding: $global-sm-padding;
      justify-content: space-between;
      align-items: center;
      font-size: rem-calc(15);
      cursor: pointer;

      &__icon {
        width: rem-calc(18);
        height: rem-calc(18);
        padding: 0;
        padding-top: rem-calc(2);
        opacity: 0.4;
        flex-shrink: 0;
      }

      &.-isChecked {
        background-color: $gray-lighter;
      }
    }
  }
  &__search {
    @extend %search;
    margin: 0;
    padding-top: $global-sm-padding;
    padding-bottom: $global-sm-padding;
    background-color: $gray-lighter;
    border-radius: 0;

    &__input,
    &__input[type='search'] {
      @extend %searchInput;
      margin: 0;
      padding-bottom: 0;
      border-radius: $global-radius;
      background-color: $white;
      color: $body-font-color;
      line-height: rem-calc(30);

      &::placeholder {
        color: $gray-lighter;
      }
    }

    &__input:focus {
      padding-left: rem-calc(8);
    }
  }
}
