@import '../../../styles/index.scss';

.header {
  display: none;
}

@include media-query(desktop) {
  .header {
    padding: $global-lg-padding $global-padding $global-padding;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__title {
      margin: 0;
      flex-grow: 1;
      line-height: rem-calc(46);
      font-size: rem-calc(38);
      font-weight: 800;
      color: $primary-xdark-color;
    }

    &__controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      align-self: stretch;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-of-type {
        justify-content: flex-end;
      }
    }

    &-item {
      &:first-child {
        margin-right: $global-padding;
      }

      &__createButton {
        padding: 0.7em 1.2em;
        position: relative;
        border: none;
        border-radius: 0.1875rem;
        background: $primary-color;
        line-height: 1;
        font-size: rem-calc(14.4);
        color: $white;
        cursor: pointer;
        transition: background 0.25s ease-out;

        // Dropdown with options
        &--dropdown {
          &:focus,
          &:hover {
            background-color: #1259e2;

            > ul {
              height: auto;
              visibility: visible;

              // Animated
              opacity: 1;
              transform: translate(-50%, 0%);
            }
          }
        }

        // Icon of Add button
        span {
          width: rem-calc(16);
          height: rem-calc(16);
          margin-top: rem-calc(-1);
          margin-left: rem-calc(8);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          vertical-align: middle;
          border-radius: 100%;
          background-color: $white;

          svg {
            max-width: 50%;
            max-height: 50%;
            stroke-width: 0;

            path {
              fill: $primary-color;
            }
          }
        }
      }

      // Sort by, selector
      &__label,
      &__menu {
        width: auto;
        height: rem-calc(30);
        display: inline-block;
        line-height: 1.5;
        font-size: $medium-font-size;
      }

      &__label {
        margin-right: $global-xsm-padding;
        color: $gray-light-2;
      }

      &__menu {
        padding: rem-calc(4.8) rem-calc(22.8) rem-calc(4.8) rem-calc(4.8);
        outline: none;
        border: rem-calc(1) solid #ccc;
        appearance: none;
        background: #fafafa
          url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20black%22%3E%3C/polygon%3E%3C/svg%3E)
          right rem-calc(10) center no-repeat;
        background-size: rem-calc(8) rem-calc(8);
      }

      // Sort direction, selector
      &__sortDirButton {
        width: rem-calc(30);
        height: rem-calc(30);
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline-width: 0;
        border-width: 0;
        background: transparent;
        transform: translateY(rem-calc(-3));

        // Toggle sort arrows
        &::before,
        &::after {
          height: rem-calc(10);
          display: block;
          color: $gray-dark;
        }

        &::before {
          content: '\25BF';
          transform: rotate(180deg) translateY(rem-calc(-5));
        }

        &::after {
          content: '\25BF';
          transform: translateY(rem-calc(-4));
        }

        // Set bottom arrow
        &.-desc {
          &::before {
            display: block;
          }
          &::after {
            content: '\25BE';
          }
        }

        // Set top arrow
        &.-asc {
          &::after {
            display: block;
          }
          &::before {
            content: '\25BE';
          }
        }
      }
    }
  }
}
