@import "../../../styles/index.scss";

.properties {
  height: 100%;
  display: grid;
  overflow: auto;
  grid-template-columns: auto rem-calc(190);
  grid-template-rows: min-content;
  grid-template-areas:
    "header header"
    "main sidebar";
  grid-gap: $global-padding;

  > header {
    grid-area: header;
  }

  &__main {
    padding: 0 0 rem-calc(16) rem-calc(16);
    grid-area: main;
  }

  > aside {
    padding-right: $global-padding;
    grid-area: sidebar;
  }
}
