@import '../../styles/index.scss';

$elementHeight: $searchBarHeight;

.container {
  @extend %statusbar-container;
  border-bottom: 1px solid $gray-lighter;

  &--sideBorders {
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
  }
}

.main {
  @extend %statusbar-main;

  &__search {
    @extend %statusbar-search;
    height: $elementHeight;
    flex: 1;
  }
}

.clearButton {
  @extend %statusbar-clearButton;
}

.searchInput[type='search'],
.searchInput[type='search']:hover {
  @extend %statusbar-searchInput;
}
