@import '../../../styles/index.scss';

.slideNav {
  height: 100vh;
  width: $sliderNavWidth;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='156'%3E%3Cg clip-path='url(%23a)'%3E%3CclipPath id='a'%3E%3Cpath d='M0 77.4h59.1v79.45H0z'/%3E%3C/clipPath%3E%3Cpath fill='%23306991' d='M60.67 113.79V71.94h.08v41.76l-.08.09zm-44.15 48.88l-2.17-.82 14.68-29.34 5.31 10.43-17.82 19.73zm0 0'/%3E%3Cpath fill='%23164872' d='M40.75 171.86l-24.23-9.19 17.82-19.73 13.21 25.95-6.8 2.97zm20 14.03h-.08v-72.1l.08-.09v72.19zm0 0'/%3E%3Cpath fill='%2310406B' d='M10.72 169.1l3.63-7.25 2.17.82-5.8 6.43zm-12.04 13.33V155.9v5.62-2.65 23.56zm0 0'/%3E%3Cpath fill='%23164872' d='M14.35 161.85l-14.79-5.61 16.45-49.31 13.02 25.58-14.68 29.34zm0 0'/%3E%3Cpath fill='%230C2F59' d='M-1.32 182.44v-23.57l.88-2.63 14.79 5.61-3.63 7.25-12.04 13.34zm.88-26.2l-.88-.34V72.87l17.33 34.06-16.45 49.31zm0 0'/%3E%3Cpath fill='%231B4E79' d='M-1.32 72.87v-.93.93zm61.9 41.01V71.94h.09v41.85l-.09.09zm-26.24 29.06l-5.31-10.43 14.14-28.26L51 124.5l-16.66 18.44zm0 0'/%3E%3Cpath fill='%23113964' d='M60.67 185.89h-.47l-.08-22.49-12.57 5.49-13.21-25.95L51 124.5l9.58 24.8v11.78-47.2l.09-.09v72.1zm-31.64-53.38l-13.02-25.58 11.53-34.56-28.86-.2v-.23h32l12.49 32.3-14.14 28.27zm0 0'/%3E%3Cpath fill='%230B264F' d='M16.01 106.93L-1.32 72.87v-.7l28.86.2-11.53 34.56zm0 0'/%3E%3Cpath fill='%230F3660' d='M51 124.5l-7.83-20.26 16.17-32.3h1.24v41.94L51 124.5zm0 0'/%3E%3Cpath fill='%230C2951' d='M60.58 149.3L51 124.5l9.58-10.62v35.42zm-17.41-45.05L30.68 71.93l28.66.01-16.17 32.31zm0 0'/%3E%3C/g%3E%3Cg clip-path='url(%23b)'%3E%3CclipPath id='b'%3E%3Cpath d='M0 0h59.1v77.45H0z'/%3E%3C/clipPath%3E%3Cpath fill='%23306991' d='M60.67 41.96l.08.09v40.71h-.08v-40.8zM16.52-5.69l17.82 19.23-5.31 10.17-14.68-28.6 2.17-.8zm0 0'/%3E%3Cpath fill='%23164872' d='M40.75-14.65l6.8 2.89-13.21 25.3L16.52-5.69l24.23-8.96zm20-13.68v70.38l-.08-.09v-70.29h.08zm0 0'/%3E%3Cpath fill='%2310406B' d='M10.72-11.96l5.8 6.27-2.17.8-3.63-7.07zm-12.04-13v22.98-2.59V.91v-25.87zm0 0'/%3E%3Cpath fill='%23164872' d='M14.35-4.89L-.44.58l16.45 48.07 13.02-24.94-14.68-28.6zm0 0'/%3E%3Cpath fill='%230C2F59' d='M-1.32-24.96v22.98L-.44.58l14.79-5.47-3.63-7.07-12.04-13zM-.44.58l-.88.33v80.94l17.33-33.2L-.44.58zm0 0'/%3E%3Cpath fill='%231B4E79' d='M-1.32 81.85v.91-.91zm61.9-39.98l.09.09v40.8h-.09V41.87zM34.34 13.54L51 31.52l-7.83 19.74-14.14-27.55 5.31-10.17zm0 0'/%3E%3Cpath fill='%23113964' d='M60.67-28.33h-.47L60.12-6.4l-12.57-5.36-13.21 25.3L51 31.52l9.58-24.18V-4.14v46.01l.09.09v-70.29zM29.03 23.71L16.01 48.65l11.53 33.68-28.86.2v.23h32l12.49-31.5-14.14-27.55zm0 0'/%3E%3Cpath fill='%230B264F' d='M16.01 48.65l-17.33 33.2v.68l28.86-.2-11.53-33.68zm0 0'/%3E%3Cpath fill='%230F3660' d='M51 31.52l-7.83 19.74 16.17 31.5h1.24V41.87L51 31.52zm0 0'/%3E%3Cpath fill='%230C2951' d='M60.58 7.34L51 31.52l9.58 10.35V7.34zM43.17 51.26l-12.49 31.5h28.66l-16.17-31.5zm0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;

  // Change the background on a staging version
  &--isStaging {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='63' height='164' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath fill='%23E28F77' d='M24.765036 164.000605l11.632573-12.5762968-5.3185783-10.1999286-11.5922381 22.7762254z'/%3E%3Cpath fill='%23D27F67' d='M42.9599815 164.000605l-6.5623725-12.5762968-11.632573 12.5762968z'/%3E%3Cpath fill='%23C26F57' d='M1.72058894 164.000605l8.07912027-23.6838887 8.23828759-24.1057311 13.0410339 25.0133944-11.5922381 22.7762254z'/%3E%3Cpath fill='%23C6735B' d='M.68 164.000605V82.913283l17.3579968 33.2977022L1.72559142 164.000605z'/%3E%3Cpath fill='%23D5826A' d='M36.397609 151.4243082l16.6869144-18.0329122-7.8426494-19.7980916-14.1628433 27.6310752z'/%3E%3Cpath d='M42.9599815 164.000605l-6.5623725-12.5762968 16.6869144-18.0329122L62.68 157.64255382v6.35805118H42.9599815zm-11.8809508-22.7762254l-13.0410339-25.0133944L29.7203255 82.000605h3.0113708l12.5101777 31.5926994-14.1628433 27.6310752z' fill='%23CB7860'/%3E%3Cpath fill='%23C26F57' d='M18.0379968 116.2109852L.68 82.913283v-.912678h29.0403255z'/%3E%3Cpath fill='%23C9765E' d='M53.0845234 133.391396l-7.8426494-19.7980916L61.4379968 82.000605H62.68v41.0103326z'/%3E%3Cpath d='M62.68 157.64255382L53.0845234 133.391396 62.68 123.0109376v34.63161622zM32.7316963 82.000605h28.7063005L45.241874 113.5933044 32.7316963 82.000605z' fill='%23C47159'/%3E%3Cg%3E%3Cpath fill='%23E28F77' d='M24.765036.000605l11.632573 12.5762968-5.3185783 10.1999286L19.4867926.000605z'/%3E%3Cpath fill='%23D27F67' d='M42.9599815.000605L36.397609 12.5769018 24.765036.000605zM1.72058894.000605l8.07912027 23.6838887 8.23828759 24.1057311 13.0410339-25.0133944L19.4867926.000605z'/%3E%3Cpath fill='%23C6735B' d='M.68.000605v81.087322l17.3579968-33.2977022L1.72559142.000605z'/%3E%3Cpath fill='%23D5826A' d='M36.397609 12.5769018L53.0845234 30.609814 45.241874 50.4079056 31.0790307 22.7768304z'/%3E%3Cpath d='M42.9599815.000605L36.397609 12.5769018 53.0845234 30.609814 62.68 6.35865618V.000605H42.9599815zM31.0790307 22.7768304L18.0379968 47.7902248 29.7203255 82.000605h3.0113708L45.241874 50.4079056 31.0790307 22.7768304z' fill='%23CB7860'/%3E%3Cpath fill='%23C26F57' d='M18.0379968 47.7902248L.68 81.087927v.912678h29.0403255z'/%3E%3Cpath fill='%23C9765E' d='M53.0845234 30.609814L45.241874 50.4079056 61.4379968 82.000605H62.68V40.9902724z'/%3E%3Cpath d='M62.68 6.35865618L53.0845234 30.609814 62.68 40.9902724V6.35865618zM32.7316963 82.000605h28.7063005L45.241874 50.4079056 32.7316963 82.000605z' fill='%23C47159'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &__wrapper {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__closeButton {
      display: flex;
      justify-content: flex-end;
      margin-top: rem-calc(16);
      margin-right: rem-calc(8);
      cursor: pointer;

      img {
        max-width: rem-calc(20);
        max-height: rem-clc(20);
      }
    }

    &__logo {
      margin: rem-calc(12) 0 rem-calc(32) rem-calc(16);
    }
  }

  &-links {
    margin-left: rem-calc(16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    line-height: rem-calc(28);
    font-size: rem-calc(18);
    font-weight: bold;
    color: $white;
    word-break: break-all;

    &__link {
      overflow: hidden;
      margin-bottom: rem-calc(11.2);

      // Navigation links
      a {
        white-space: nowrap;
        color: $white;
        text-decoration: none;
      }

      // Sign Out button
      div {
        white-space: nowrap;
      }
    }
  }

  &-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;

    &__logo {
      height: rem-calc(30);
      width: rem-calc(155);
      margin: rem-calc(32) 0 rem-calc(11.2) rem-calc(50);
    }

    &__version {
      align-self: center;
      margin-bottom: rem-calc(8);
      line-height: rem-calc(19);
      font-size: rem-calc(12);
      color: $gray-light;
    }
  }
}

@include media-query(desktop) {
  .slideNav {
    &-header {
      &__closeButton {
        display: none;
      }

      &__logo {
        margin-top: rem-calc(48);
      }
    }
  }
}
