@import '../../../../../../styles/index.scss';

.container {
  display: flex;
  align-items: center;
  padding: 0 $global-padding;
  cursor: pointer;
  position: relative;
  @extend %gridHeaderCreateButton--dropdown;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  // Dropdown icon
  > svg {
    max-width: rem-calc(22);
    max-height: rem-calc(22);
  }
}
