@import '../../../../../styles/index.scss';

.container {
  @extend %gridHeaderCreateButton--dropdown;
  display: flex;
  align-items: center;
  padding: 0 $global-sm-padding;
  margin-left: $global-sm-padding;
  cursor: pointer;
  position: relative;
  height: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  // Dropdown icon
  > svg {
    max-width: rem-calc(22);
    max-height: rem-calc(22);
  }
}
