@import '../../styles/index.scss';

.deficientItemControls {
  &__item {
    display: block;

    &__label {
      text-align: center;
      color: $white;
      background-color: $gray-dark;
      padding: rem-calc(4) 0;
      font-size: rem-calc(14);
      text-transform: uppercase;
    }

    &__container {
      padding: $global-sm-padding $global-padding 0;
    }

    &__viewPhotos {
      @extend %hollowButton;
      border: none;
      margin: 0;

      &[disabled] {
        color: $gray-light;
        cursor: not-allowed;
      }
    }

    &__createdAt {
      color: $gray-light;
      font-size: rem-calc(12);
    }

    &__itemTitle {
      margin: $global-sm-padding 0;
      font-size: rem-calc(14);
    }

    &__sectionTitle {
      font-size: rem-calc(12);
      color: $gray-med-dark;
    }

    &__richText {
      font-size: rem-calc(14);
      font-weight: bold;
    }

    @include media-query(desktop) {
      &__container {
        padding: 0;
      }

      &__viewPhotos {
        text-align: left;
        padding-left: 0;
      }

      &__itemTitle {
        font-size: rem-calc(24);
      }

      &__sectionTitle {
        font-size: rem-calc(14);
      }

      &__richText {
        font-weight: normal;
      }

      &__label {
        text-align: left;
        color: $black;
        margin-bottom: $global-padding;
        background-color: transparent;
        font-size: rem-calc(22);
        border-bottom: 1px solid $gray-lighter;
        text-transform: none;
      }
    }
  }
}
