@import '../../../styles/index.scss';

.trelloModal {
  height: 100%;
  max-height: rem-calc(557);
  padding: 0;
  background-color: $gray-light-3;
  overflow-x: hidden;

  &__title {
    margin-top: $global-padding;
    text-align: center;
  }

  &__link {
    margin-top: $global-padding;
    display: flex;
    justify-content: center;
    color: $primary-color;
    text-decoration: underline;
  }

  &__saveButton {
    background: transparent;
    border-width: 0;
    padding: $global-padding;
    &:disabled {
      opacity: $button-opacity-disabled;
    }
  }

  &__dropdownGroup {
    margin: $global-xsm-padding;
    margin-left: $global-mlg-padding;
    margin-right: $global-mlg-padding;
    text-align: center;

    &__title {
      margin-top: rem-calc(0.5);
      color: $gray-dark;
      font-size: $medium-large-font-size;
    }

    &__dropdown {
      width: 100%;
      cursor: pointer;
      display: block;
      padding: $global-sm-padding $global-sm-padding $global-padding;
      margin: 0 0 $global-padding;
      background-color: $white;
      border: 1px solid $gray-darker;
      border-radius: rem-calc(3);
      text-align: center;

      &__label {
        color: $primary-dark-color;
        font-size: $paragraph-font-size;
        text-align: left;
        line-height: $global-md-padding;
      }

      &--disabled {
        opacity: $button-opacity-disabled;
        pointer-events: none;
      }
    }
  }

  &__trelloUserName {
    align-self: center;
    margin-bottom: $global-mlg-padding;
    margin-top: $global-md-padding;
    color: $gray-darker;
    font-weight: 500;
  }

  &__resetBtn {
    justify-self: center;
    border: none;
    background-color: transparent;
    color: $alert-color;
  }
}
