@import '../../../../styles/index.scss';

.main {
  display: flex;
  flex-direction: column;
  padding-top: $global-padding;
  padding-bottom: 0;
  align-items: center;

  &--grid {
    flex-direction: row;
  }
}
