@import '../../../../styles/index.scss';

.section {
  margin-bottom: $global-sm-padding;
  display: flex;
  flex-direction: column;

  @include media-query(desktop) {
    align-items: flex-end;
  }
}
.main {
  display: flex;
  flex-direction: column;
  padding-top: $global-padding;
  padding-bottom: 0;
  align-items: center;

  &--grid {
    flex-direction: row;
  }
}
