@import '../../../styles/index.scss';

.modal {
  padding: $global-md-padding 0 0;
  display: flex;
  height: 100%;
  flex-direction: column;

  &__main {
    padding: $global-padding $global-lg-padding 0;
  }
}
