@import '../../../styles/index.scss';

.container {
  overflow-y: auto;

  @include media-query(desktop) {
    margin: $global-lg-padding $global-padding $global-padding;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    overflow: visible;
  }
}
