@import '../../../../styles/index.scss';

.filter {
  display: flex;
  flex-direction: row;
  margin-right: $global-padding;

  &__item {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  &__label,
  &__menu {
    width: auto;
    margin-bottom: 0;
    font-size: $medium-font-size;
  }

  &__label {
    margin-right: $global-xsm-padding;
    color: $gray-light-2;
    margin-right: rem-calc(5);
  }
}
