@import '../../../styles/index.scss';

.sortInfoLine {
  @extend %sortInfo;
  justify-content: center;
}

.action {
  @extend %gridHeaderCreateButton;
  margin-right: $global-padding;
  text-decoration: none !important;
}

.addIcon {
  @extend %gridHeaderButtonIcon;
}
