@import '../../styles/index.scss';

.form__grid {
  @extend %grid;

  &__desktop {
    max-width: rem-calc(600);
  }
}

.mobileTitle {
  font-size: rem-calc(20);
  margin-bottom: rem-calc(16);
}

.job__info {
  display: flex;

  &__mobile {
    justify-content: space-between;
  }

  &__box {
    padding: rem-calc(26);
    background: $gray-5;
    border-radius: rem-calc(10);
    margin-bottom: rem-calc(25);

    > p {
      color: $gray-6;
      margin: 0;
      font-size: rem-calc(12);
    }

    &__mobile {
      text-align: center;
      width: 48%;
      & p {
        font-size: rem-calc(12);
      }
      & h3 {
        font-size: rem-calc(18);
      }
    }

    &__desktop {
      display: flex;
      align-items: center;

      &:first-child {
        margin-right: rem-calc(16);
      }

      > p,
      h3 {
        font-size: rem-calc(16);
      }
    }
  }
}

.button {
  &__group {
    margin-right: $global-padding;

    &:last-child {
      margin-right: 0;
    }
  }

  &__cancel {
    @extend %gridHeaderCancelButton;
    padding: 0.6em 1.2em;
  }

  &__submit {
    @extend %gridHeaderCreateButton;
    border: rem-calc(1) solid $primary-color;

    // Icon of Add button
    span {
      @extend %gridHeaderButtonIcon;
    }
  }

  &__fullwidth {
    display: block;
    width: 100%;
  }
}

.jobNew {
  &__header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr !important;

    &__icon {
      path:last-child {
        fill: $white !important;
      }
    }
  }

  &__formGroup {
    label {
      font-weight: 600;
    }

    input[type='text'] {
      @extend %inputText;
      margin: 0;
    }

    &__control {
      margin-bottom: rem-calc(16);
    }

    textarea {
      @extend %inputText;
      margin: 0;
    }

    select {
      @extend %inputSelect;
    }
  }
}
