@import '../../../../styles/index.scss';

.title {
  margin: $global-sm-padding 0;
  font-size: rem-calc(14);

  @include media-query(desktop) {
    font-size: rem-calc(24);
  }
}

.sectionTitle {
  font-size: rem-calc(12);
  color: $gray-med-dark;

  @include media-query(desktop) {
    font-size: rem-calc(14);
  }
}

.subHeading {
  color: $gray-light;
  font-size: rem-calc(12);
}
