@import '../../../styles/index.scss';
@import '../../../common/Modal/styles.module.scss';

.updateTeamModal {
  padding: $global-md-padding;

  &__items {
    list-style-type: none;
    border-bottom: 1px solid $gray-light-3;

    &__input {
      display: none;
    }

    &__label {
      width: 100%;
      padding: $global-sm-padding;
      margin-left: 0 !important;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      font-size: rem-calc(15);
      cursor: pointer;

      &__text {
        display: inline-block;
        width: 90%;
        height: 100%;
      }
      &__chequedIcon,
      &__notChequedIcon {
        width: rem-calc(18);
        height: rem-calc(18);
        padding: 0;
        padding-top: rem-calc(2) !important;
        opacity: 0.4;
        flex-shrink: 0;
      }
    }

    &__input:checked + &__label {
      background-color: $gray-lighter;
    }

    &__input:checked + &__label__notChequedIcon {
      display: none;
    }
  }
}
