@import '../../../styles/index.scss';
@import '../../../common/Modal/styles.module.scss';

.updateTeamModal {
  padding: rem-calc(12);
  &__items {
    list-style-type: none;
    border-bottom: 1px solid $gray-light-3;

    &__input {
      display: none;
    }

    &__label {
      width: 100%;
      padding: rem-calc(8);
      margin-left: 0 !important;
      display: flex;
      align-items: center;

      font-size: rem-calc(15);
      cursor: pointer;
      &__text {
        display: inline-block;
        width: 90%;
        height: 100%;
      }
      &__chequedIcon {
        width: rem-calc(15);
        height: rem-calc(15);
        padding-top: rem-calc(2) !important;
        opacity: 0.4;
        padding: 0;
      }
      &__notChequedIcon {
        width: rem-calc(15);
        height: rem-calc(15);
        padding-top: rem-calc(2) !important;
        opacity: 0.4;
        padding: 0;
      }
    }
    &__input:checked + &__label {
      background-color: #d9d9d9;
    }

    &__input:checked + &__label__notChequedIcon {
      display: none;
    }
  }
}
