%gridHeader {
  padding: $global-lg-padding $global-padding $global-padding;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

%gridHeaderBackButton {
  @extend %backButton--centered;
  width: rem-calc(36);
  height: rem-calc(36);
  margin-right: $global-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Left chevron
  &:before {
    content: '';
    display: block;
    width: rem-calc(17);
    height: rem-calc(20);
    transform: rotate(-90deg);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' version='1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23878b8f' stroke-miterlimit='10' stroke-width='2' d='M3 15.5l9-9 9 9'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

%gridMobileHeaderTopInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $gray;
  padding: rem-calc(12);
  font-size: rem-calc(20);
}

%gridMobileHeaderBackButton {
  @extend %gridMobileHeaderTopInfo;
  flex-direction: row;

  // Left chevron
  a::before {
    @extend %backButton--centered;
    content: '';
    display: block;
    width: rem-calc(30);
    height: rem-calc(30);
    transform: rotate(-90deg);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' version='1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' stroke='%23878b8f' stroke-miterlimit='10' stroke-width='2' d='M3 15.5l9-9 9 9'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-right: rem-calc(8);
  }
}

%gridMobileHeaderFooter {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-end;
}

%gridHeaderMain {
  display: flex;
  align-items: center;
}

%gridHeaderTitle {
  margin: 0;
  flex-grow: 1;
  line-height: rem-calc(40);
  font-size: rem-calc(32);
  font-weight: 800;
  color: $primary-xdark-color;
  display: flex;
  align-items: center;
}

%gridHeaderLinkMain {
  font-size: rem-calc(16);
  line-height: rem-calc(18);
  font-weight: 400;
  color: $gray-6;
}

%gridHeaderLink {
  @extend %gridHeaderLinkMain;
  text-decoration: underline;
}

%gridHeaderSmallTitle {
  font-size: rem-calc(20);
}

%gridHeaderTitle--ellipsis {
  display: inline-block;
  overflow: hidden;
  max-width: 24ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%gridHeaderControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;

  &:first-child {
    justify-content: flex-start;
  }

  &:last-of-type {
    justify-content: flex-end;
  }
}

%gridHeaderCancelButton {
  padding: 0.7em 1.2em;
  position: relative;
  border: rem-calc(1) solid $gray-3;
  border-radius: 0.1875rem;
  background: $white;
  line-height: 1;
  font-size: rem-calc(14.4);
  color: $gray-3;
  cursor: pointer;
  transition: background 0.25s ease-out;
}

%gridHeaderCreateButton {
  padding: 0.7em 1.2em;
  position: relative;
  border: none;
  border-radius: 0.1875rem;
  background: $primary-color;
  line-height: 1;
  font-size: rem-calc(14.4);
  color: $white;
  cursor: pointer;
  transition: background 0.25s ease-out;
}

%gridHeaderCreateButton--dropdown {
  &:focus,
  &:hover {
    > ul {
      height: auto;
      visibility: visible;
      white-space: nowrap;

      // Animated
      opacity: 1;
      transform: translate(-50%, 0%);
    }
  }
}

%gridHeaderButtonIcon {
  width: rem-calc(16);
  height: rem-calc(16);
  margin-top: rem-calc(-1);
  margin-left: rem-calc(8);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 100%;
  background-color: $white;

  svg {
    max-width: 50%;
    max-height: 50%;
    stroke-width: 0;

    path {
      fill: $primary-color;
    }
  }
}
