@import '../../styles/index.scss';

.propertyProfile {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: $gray-2;
  height: 100%;

  &__main {
    @extend %stickyBoundingBox;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: auto;
    justify-content: flex-start;
    backface-visibility: hidden;
    flex: 1 1 auto;
    order: 0;
    overflow-y: auto;
  }

  &__footer {
    @extend %footer;
  }
  &__filter__icon {
    @extend %unstyledButton;
  }

  &__createInspectionLink {
    padding: $global-sm-padding $global-padding;
    margin: 0;
  }

  &__noInspectionMessage {
    @extend %profile-list--item;
  }

  @include media-query(tablet) {
    display: block;
  }
}

// Fixes for Progress Chart bugs
// Hack to overwrite Chart.js inline styles
.__progressChart {
  width: rem-calc(55) !important;
  height: rem-calc(55) !important;
}
