@import '../../styles/index.scss';

.container {
  padding: 0;

  @include media-query(desktop) {
    padding: $global-padding;
  }
}

.action {
  margin: $global-padding 0;
  display: flex;
  justify-content: center;

  &__clear {
    @extend %actionButton--blackText;
  }
}
