@import '../../styles/index.scss';

.container {
  padding: 0;
  overflow-y: auto;

  @include media-query(desktop) {
    margin: $global-padding;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    overflow: visible;
  }
}

.action {
  margin: $global-padding 0;
  display: flex;
  justify-content: center;

  &__clear {
    @extend %actionButton--blackText;
  }
}
