@import '../../../styles/index.scss';

.badge {
  padding: 0 $global-xsm-padding;
  border-radius: $global-radius;
  color: $white;
  font-size: rem-calc(14);
  line-height: rem-calc(17);

  &--primary {
    background-color: $primary-color;
    text-transform: capitalize;
  }

  &--secondary {
    background-color: $gray-6;
  }
}
