@import '../../styles/index.scss';

.form__grid {
  @extend %grid;

  &__info {
    @include media-query(desktop) {
      max-width: rem-calc(600);
    }
  }
}

.form__extHeader {
  background-color: $gray;
  padding: rem-calc(12);

  &__title {
    @extend %gridMobileHeaderBackButton;
    padding: 0;
  }

  &__aside {
    @extend %gridMobileHeaderFooter;
  }
}

.bid__info {
  display: flex;
  justify-content: space-between;

  &__header {
    &__main {
      @extend %gridMobileHeaderTopInfo;
    }

    &__breadcrumb {
      @extend %gridHeaderLinkMain;

      &__text {
        @extend %gridHeaderLink;
      }
    }

    &__title {
      @extend %gridHeaderSmallTitle;
    }
  }

  &__box {
    width: 48%;
    padding: rem-calc(26);
    border-radius: rem-calc(10);
    margin-bottom: rem-calc(25);
    text-align: center;
    background: $gray-5;

    > p {
      color: $gray-6;
      margin: 0;
      font-size: rem-calc(12);
    }

    > h3 {
      font-size: rem-calc(18);
    }
  }

  @include media-query(desktop) {
    justify-content: flex-start;

    &__box {
      width: auto;
      display: flex;
      align-items: center;

      &:first-child {
        margin-right: $global-padding;
      }

      > p,
      > h3 {
        font-size: rem-calc(16);
      }
    }
  }
}

.button {
  &__group {
    margin-right: $global-padding;
    &:last-child {
      margin-right: 0;
    }

    &__margin {
      margin-top: rem-calc(12);
    }
  }

  &__cancel {
    @extend %gridHeaderCancelButton;
    display: block;
  }

  &__submit {
    @extend %gridHeaderCreateButton;
    border: rem-calc(1) solid $primary-color;

    // Icon of Add button
    span {
      @extend %gridHeaderButtonIcon;
    }
  }

  &__fullwidth {
    display: block;
    width: 100%;
  }

}

.form {
  &__header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr !important;

    &__icon path:last-child {
      fill: $white !important;
    }
  }

  &__fields {
    // &__leftColumn {}
    // &__rightColumn {}
  }

  &__card {
    @extend %card;

    &__title {
      @extend %card__title;
    }

    &__pill {
      @extend %card__pill;

      &__title {
        @extend %card__pill__title;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: rem-calc(-15);
    margin-left: rem-calc(-15);

    &__cell {
      position: relative;
      min-height: 1px;
      padding-right: rem-calc(15);
      padding-left: rem-calc(15);
      flex: 0 0 50%;
      max-width: 50%;

      &--twoColumns {
        max-width: 100%;
        flex: 0 0 100%;
      }

      &--fillRow {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  &__formCost {
    display: flex;
    justify-content: space-between;

    label {
      font-weight: 600;
    }

    &__select {
      display: flex;

      button {
        font-weight: initial;
        color: $gray-light;
        text-decoration: underline;
        cursor: pointer;
        background: transparent;
        border: 0;
        margin-bottom: rem-calc(8);
      }

      button.active {
        font-weight: 600;
        color: $primary-dark-color;
        text-decoration: initial;
      }
    }
    &__separator {
      background-color: $gray-light;
      width: rem-calc(1);
      margin: 0 rem-calc(8);
      margin-bottom: rem-calc(8);
    }
  }

  &__formSeparatedLabel {
    display: flex;
    justify-content: space-between;
  }

  &__formInput {
    width: rem-calc(1);
    height: rem-calc(1);
    opacity: 0;
  }

  &__upload {
    color: $primary-color;
    cursor: pointer;
    background: transparent;
    border: 0;

    &__icon {
      background-color: $gray;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: rem-calc(22);
      height: rem-calc(22);
      border-radius: 50%;
      margin-left: rem-calc(4);
    }

    svg {
      width: rem-calc(10);
      height: rem-calc(10);
    }

    svg > path {
      fill: $primary-color;
    }
  }

  &__group {
    label {
      font-weight: 600;
    }

    input[type='text'],
    input[type='date'],
    input[type='number'] {
      @extend %inputText;
      margin: 0;
    }

    &__control {
      margin-bottom: rem-calc(16);

      &--radio {
        display: flex;
        gap: rem-calc(16);

        label {
          font-weight: normal;
        }

        input[type='radio'] {
          margin-right: rem-calc(8);
        }
      }
    }

    textarea {
      @extend %inputText;
      margin: 0;
    }

    select {
      @extend %inputSelect;
    }
  }

  @include media-query(desktop) {
    &__fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem-calc(30);
    }

    &__row__cell--twoColumns {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

// Parent Job UI Elements
.form__parentStatusLabel {
  @extend %gridHeaderCreateButton;
  cursor: default;
}

.form__parentDetail {
  color: $gray-6;
}

.form__parentLink {
  display: flex;
  align-items: center;
  text-decoration: underline;
}
