@import '../../../styles/index.scss';
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.swiper {
  flex: 1;
  max-width: 100%;
  width: rem-calc(520);
  margin: 0px auto;
}

.main {
  flex: 1;
  @include media-query('desktop') {
    margin: $global-lg-padding auto;
    padding: $global-xlg-padding $global-llg-padding;
    border: 1px solid $gray-lighter;
    border-radius: $global-radius;
    display: flex;
    flex-direction: column;
  }
}

.stepContainer {
  border: 1px solid $gray-lighter;
  border-radius: $global-radius;
  margin: 1rem;
  padding: $global-lg-padding $global-mlg-padding;
  background-color: $white;

  @include media-query('desktop') {
    margin: $global-lg-padding auto;
    padding: 0;
    margin: 0rem;
    border: none;
  }
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: rem-calc(30);
  list-style: none;
  background-color: lighten($secondary-color, 10);

  &__item {
    display: block;
    width: rem-calc(6);
    height: rem-calc(6);
    border-radius: rem-calc(7);
    background-color: rgba($white, 0.32);

    &:not(:last-child) {
      margin-right: rem-calc(4);
    }

    &--active {
      background-color: $white;
    }
  }

  &__summary {
    display: none;
    flex: 1 0 100%;
    margin-top: $global-sm-padding;
    color: $gray-med-dark;
    font-size: $medium-font-size;
    text-align: center;
  }

  @include media-query('desktop') {
    position: absolute;
    right: $global-padding;
    bottom: rem-calc(14);
    background-color: transparent;

    &__item {
      height: rem-calc(10);
      width: rem-calc(10);
      background-color: lighten($info-color, 12);

      &--active {
        width: rem-calc(18);
        background-color: $primary-dark-color;
      }
    }

    &__summary {
      display: block;
    }
  }
}
