@import '../../../styles/index.scss';

.modal {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0;

  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.selection {
  @extend %stickyBoundingBox--header;
  padding: $global-sm-padding $global-padding;
  background-color: $white;
  text-align: center;
  text-transform: none;
  font-weight: normal;
}

.action {
  @extend %actionButton;
  padding: rem-calc(6) $global-padding;
  background-color: $primary-color;
  font-size: rem-calc(14);
  color: $white;

  &:disabled {
    opacity: 0.5;
  }
}
