@import '../../styles/index.scss';

.header {
  @extend %gridHeader;
  padding-bottom: 0;
  flex-wrap: nowrap;

  &__bottom {
    padding-top: 0;
    align-items: center;
  }

  &__backButton {
    @extend %gridHeaderBackButton;
    margin-top: 0.3em;
  }

  &__content {
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    min-width: 0;

    &__main {
      @extend %gridHeaderMain;
      margin-right: $global-padding;
      align-items: flex-start;
      flex-grow: 1;
      max-width: 100%;

      &__title {
        @extend %gridHeaderTitle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &--column {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }

  &__controls {
    @extend %gridHeaderControls;
    align-items: center;

    > a {
      text-decoration: underline;
    }

    &__column {
      display: block;
    }

    &__instructions {
      display: block;
      margin: $global-xsm-padding;
      color: $gray-6;
      font-size: rem-calc(16);
      text-align: right;

      &--satisfied {
        color: $info-color;
      }
    }
  }
}
