%headerButton {
  min-height: rem-calc(54);
  padding: $global-padding;
  position: relative;
  display: inline-flex;
  align-items: center;
  border-width: 0;
  background: transparent;
  line-height: rem-calc(22);
  font-size: rem-calc(14);
  color: $white;

  > svg {
    max-width: rem-calc(20);
    max-height: rem-calc(20);
  }
}

%baseButton {
  display: inline-block;
  padding: rem-calc(5) rem-calc(14);
  font-size: $medium-small-font-size;
  line-height: 1.5;
  border-radius: $global-radius;
  white-space: nowrap;
}

%baseButton--white {
  @extend %baseButton;
  color: $gray-dark;
  background: $white-dark;
  border: rem-calc(1) solid $gray-med-dark-2;

  > svg path {
    fill: $gray-dark;
  }

  &:hover {
    color: $primary-color;

    > svg path {
      fill: $primary-color;
    }
  }
}

%baseButton--gray {
  @extend %baseButton;
  color: $white;
  background: $gray-light-2;
  border: rem-calc(1) solid $gray-light-2;

  > svg path {
    fill: $white;
  }
}

%baseButton__chevron {
  display: inline-block;
  width: rem-calc(6);
  height: rem-calc(12);
  transform: translateY(#{rem-calc(2)});
}
//
// Non Button
//
.spk-non-button,
.-unstyledButton {
  padding: 0;
  background: transparent;
  border-width: 0;
}