%search {
  padding-top: $global-padding;
  padding-bottom: $global-padding;
  margin-bottom: 0;
  background-color: $tertiary-color;
  border-top-left-radius: $global-radius * 2;
  border-top-right-radius: $global-radius * 2;
  padding-right: $global-lg-padding;
  padding-left: $global-lg-padding;
}

%searchInputBackgound {
  background-image: url("data:image/svg+xml,%3Csvg width='914' height='981' viewBox='0 0 914 981' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m889.8 840-201-201c56.4-67.6 90.3-154.5 90.3-249.5C779.2 174.2 604.9 0 389.7 0 174.4 0 .2 174.2.2 389.5.2 604.7 174.4 779 389.7 779c61.1 0 119-14.1 170.5-39.1 3 4.7 6.6 9.1 10.7 13.2l203 203c32 32 84 32 116 0 31.9-32.1 31.9-84.1-.1-116.1ZM82.2 389.5C82.2 219.7 219.9 82 389.7 82s307.5 137.7 307.5 307.5S559.4 697 389.7 697C219.9 697 82.2 559.3 82.2 389.5Z' fill='%23AAA' fill-rule='nonzero' fill-opacity='.65' /%3E%3C/svg%3E");
  background-repeat: no-repeat;

  &:focus {
    background-image: none;
  }
}

%searchInput {
  @extend %searchInputBackgound;
  padding-left: $global-lg-padding;
  font-size: $medium-font-size;
  color: $white;
  outline-width: 0;
  border-width: 0;
  background-color: transparent;
  background-position: rem-calc(6) center;
  background-size: rem-calc(16);
  transition: padding-left 120ms;

  &:hover,
  &:focus {
    color: $white;
    outline-width: 0;
    border-width: 0;
    background-color: transparent;
  }

  &:focus {
    padding-left: 0;
  }

  &::placeholder {
    color: rgba($white, 0.6);
  }
}

%mobileSearchInputMain {
  background-color: $gray-lighter;
  padding: rem-calc(10) rem-calc(15);
  position: relative;
}

%mobileSearchInput {
  @extend %searchInput;
  background-color: $white;
  color: $black;
  margin: 0;
  border: rem-calc(1) solid $gray-light;
  border-radius: rem-calc(3);

  &:hover,
  &:focus {
    color: $black;
    border: rem-calc(1) solid $gray-light;
    background-color: $white;
  }

  &:focus {
    padding-left: $global-sm-padding;
    background-image: none;
  }

  &::placeholder {
    color: rgba($black, 0.6);
  }
}

%mobileSearchClear {
  padding: 0;
  width: rem-calc(14);
  height: rem-calc(14);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: rem-calc(24);
  left: auto;
  border: none;
  background-color: $gray-light;
  border-radius: 100%;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: rem-calc(8);
    background-color: $white;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
  }

  &:after {
    transform: rotate(-45deg) translate(-50%, -50%);
  }
}

%inputText {
  border-radius: rem-calc(3);
  padding: rem-calc(10) rem-calc(10) rem-calc(8);
  height: auto;
}

%inputSelect {
  border-radius: rem-calc(3);
  padding: rem-calc(10) rem-calc(10) rem-calc(8);
  height: auto;
  background-color: $white;
}
