// previous .spk-icon, .spk-icon--small, .spk-icon--large
%icon {
  &,
  > svg {
    vertical-align: middle;
    max-width: rem-calc(20);
    max-height: rem-calc(20);
  }
}

// previous .spk-icon--small
%icon--small {
  &,
  > svg {
    max-width: rem-calc(15);
    max-height: rem-calc(15);
  }
}

// previous .spk-icon--large
%icon--large {
  &,
  > svg {
    max-width: rem-calc(30);
    max-height: rem-calc(30);
  }
}

//
//  Icon Add Button
//

// previous .iconAddButton
%iconAddButton {
  display: inline-flex;
  vertical-align: middle;
  width: $global-padding;
  height: $global-padding;
  border-radius: 100%;
  background-color: $white;
  align-items: center;
  justify-content: center;
  margin-top: rem-calc(-1);

  &:last-child {
    margin-left: rem-calc(4);
  }

  > svg {
    max-width: 50%;
    max-height: 50%;
    stroke-width: 0;

    .primary & path {
      fill: $primary-color;
    }
  }
}

//
// Input Icon
//

// previous .spk-input-icon, svg.spk-input-icon 
%input-icon {
  width: rem-calc(36);
  height: rem-calc(36);
  cursor: pointer;

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  &,
  svg {
    path,
    line,
    circle {
      fill: darken($gray, 10);
      stroke: darken($gray, 10);
    }
  }
}

// previous .spk-input-icon.is-selected, .is-selected
%input-icon--selected {
  path,
  line,
  circle {
    fill: $black;
    stroke: $black;
  }
}

// previous .spk-input-icon.is-sufficient, .is-sufficient
%input-icon--sufficient {
  path,
  line,
  circle {
    fill: $primary-dark-color;
    stroke: $primary-dark-color;
  }
}

// previous .spk-input-icon.is-deficient, .is-deficient
%input-icon--deficient {
  path,
  line,
  circle {
    fill: $alert-color;
    stroke: $alert-color;
  }
}

//
// Link Icon
//

// previous .spk-link-icon, .spk-link-icon--small, .spk-link-icon--white, .spk-link-icon--small--white, .spk-link-icon--alert
%link-icon {
  @extend %icon;
  cursor: pointer;

  path,
  line {
    fill: $primary-color;
    stroke: $primary-color;
  }
}

// previous .spk-link-icon--small
%link-icon--small {
  @extend %icon--small;
}

// previous .spk-link-icon--white, .spk-link-icon--small--white
%link-icon--white {
  path,
  line {
    fill: $white;
    stroke: $white;
  }
}

// previous .spk-link-icon--alert
%link-icon--alert {
  path,
  line {
    fill: $alert-color;
    stroke: $alert-color;
  }
}

// previous .spk-link-icon--small--gray-lighter
%link-icon--gray-lighter {
  path,
  line {
    fill: $gray-lighter;
    stroke: $gray-lighter;
  }
}
