%statusbar-container {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  position: sticky;
  top: 0;
  transition: top 200ms ease-in;
  border-top: 1px solid $gray-lighter;
  z-index: 13;

  @include media-query(desktop) {
    top: 0;
  }
}

%statusbar-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%statusbar-search {
  display: flex;
  align-items: center;
  padding-left: $global-padding;

  @include media-query(desktop) {
    // Apply global desktop padding to left
    padding-left: $global-lg-padding - rem-calc(5);
  }
}

%statusbar-clearButton {
  @extend %actionButton--black;
  font-size: $paragraph-font-size;
  text-transform: none;
  padding: $global-sm-padding $global-mlg-padding;
}

%statusbar-searchInput {
  @extend %searchInput;
  @extend %searchInputBackgound;
  margin: 0;
  color: $black;

  &:focus {
    color: $black;
  }

  &::placeholder {
    color: $gray-light;
  }
}
