.spk-footer {
  min-height: rem-calc(38);
  line-height: rem-calc(38);
  padding: 0 $global-padding;
  background: $gray;

  &--hero {
    height: 25%;
    min-height: rem-calc(155);
    padding-bottom: $global-padding;

    // Center & push content to bottom
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    // Sparkle pattern background
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1515 588' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(.943)' fill-rule='nonzero'%3E%3Cpath fill='%232970A2' d='M1049.057 238.175l464 188.252.058-74.427-264.819-196.831z'/%3E%3Cpath fill='%23005288' d='M1248.296 155.169L1513.116 352V44.226z'/%3E%3Cpath fill='%23005288' d='M561.475 441l537.582 147h414V426.427l-464-188.252z'/%3E%3Cpath  fill='%23003870' d='M208.057 588h891L561.475 441z'/%3E%3Cpath fill='%2308588E' d='M761.057 122l288 116.175 199.239-83.006L1124.057 63z'/%3E%3Cpath fill='%2300437A' d='M1124.057 63l124.239 92.169 264.786-110.973L1513.057 0z'/%3E%3Cpath fill='%2300437A' d='M.057 249v37.567L561.475 441l487.582-202.825-288-116.175z'/%3E%3Cpath fill='%23002D67' d='M0 587.914l208.057.086 353.418-147L0 285z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
  }
}

.spk-footer__hero-logo {
  display: block;
  width: rem-calc(155);
  height: rem-calc(32);
  margin-bottom: $global-padding;
}

.spk-footer__addendum {
  font-size: $medium-small-font-size;
  color: $white;
  line-height: 1rem;
}
