// previous .stickyBoundingBox
%stickyBoundingBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
  overflow: auto;
}
// Removed previous .stickyBoundingBox__list which was same as .stickyBoundingBox

// previous .stickyBoundingBox.-shrink
%stickyBoundingBox--shrink {
  flex: 1 1 0%;
}

// previous .stickyBoundingBox__listItem
%stickyBoundingBox--listItem {
  display: block;
  margin-bottom: 0;
}

// previous .stickyBoundingBox__editableRow
%stickyBoundingBox--editableRow {
  display: flex;
  padding: rem-calc(5) $global-padding rem-calc(3);
  margin-right: rem-calc(2);
  width: 100%;
}
