// previous .spk-swipe-reveal
%swipeReveal {
  display: block;
  overflow: hidden;
  position: relative;
}


// previous .spk-swipe-reveal__visible
%swipeReveal__visible {
  max-width: 100%;
  position: relative;
  z-index: 2;
  transition: transform 400ms ease-out;
}

// previous .spk-swipe-reveal__hidden
%swipeReveal__hidden {
  display: flex;
  flex-shrink: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  visibility: hidden;
  transition: all ease-in-out 0.3s;

  > button {
    align-items: center;
  }
}

// Prevent hidden element from appearing onload
// previous .spk-swipe-reveal.has-revealed, .spk-swipe-reveal__hidden
%swipeReveal__hidden--reveal {
  visibility: visible;
}