@use "sass:math";

$spk-upload-primary-height: rem-calc(150);
$spk-upload-primary-aspect-ratio: math.div(4, 3); // 4:3 aspect ratio

// NOTE: Class of child <label> element,
// not the parent component element itself
.upsertProperty__uploadPrimary,
.upsertProperty__uploadPrimary--present {
  @extend .spk-upload-form;
  height: $spk-upload-primary-height;
  max-width: $spk-upload-primary-height * $spk-upload-primary-aspect-ratio;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $global-sm-padding;
}

.upsertProperty__uploadPrimary{
  &--present {
    height: auto;
    min-height: rem-calc(90);
    max-height: $spk-upload-primary-height;
  }

  &__label {
    @extend .spk-label;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: $gray-darker;
    font-weight: bold;
    z-index: 1;
  }

  &__thumbnail {
    align-self: center;
    cursor: pointer;

    // Enforce banner aspect ratio
    max-width: $mobile-max-width;

    // Center images that extend beyond edges
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    > img {
      max-height: math.div($mobile-max-width, $spk-upload-primary-aspect-ratio);
    }
  }

  &__cancle {
    @extend .spk-upload-form__cancel;
    top: 0;
    right: 0;
  }

  &__backButton {
    @extend %baseButton--white;

    position: absolute;
    top: $global-md-padding;
    left: $global-md-padding;
    z-index: 1;

    > svg {
      @extend %baseButton__chevron;
      margin-right: rem-calc(4);
    }
  }

  // Final presented banner
  &__present {
    max-height: $spk-upload-primary-height;
    align-self: center;
  }

  // Add bottom controls
  .upsertProperty__controlBar {
    max-width: rem-calc(287);
    left: auto;
    right: 0;
    background: rgba($gray, 0.75);
    border-bottom-width: 0;
  }

  @include media-query(tablet) {
    height: 0;
    width: 100%;
    display: block;
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 82%;
    border-bottom: 1px solid $gray-lighter;

    // Expanding Hight spacer
    &::after {
      content: '';
      display: block;
      padding-top: 66.5%;
    }

    &__thumbnail {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      max-width: initial;

      > img {
        max-height: 100%;
      }
    }
  }
}