@import '../../../styles/index.scss';

.container {
  padding: $global-padding;
  max-width: rem-calc(600);
  margin: $global-padding auto;

  @include media-query(desktop) {
    padding: rem-calc(52) rem-calc(42);
    border: 1px solid $gray-lighter;
  }
}

.field {
  &__label {
    font-weight: 600;
  }

  &__input[type='text'] {
    @extend %inputText;
    margin: 0;
  }

  &__control {
    margin-bottom: rem-calc(16);
  }

  &__input[type='text'],
  &__input[type='email'] {
    @extend %inputText;
    margin: 0;
  }
}

.actions {
  display: flex;
  margin-top: $global-lg-padding;
  flex-direction: row-reverse;
  justify-content: space-between;

  > * {
    margin-right: 0;
  }
}

.pillField {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: $global-sm-padding $global-md-padding;
  background-color: $gray;
  border-radius: $global-radius;
  cursor: pointer;

  &__label {
    margin: 0;
    font-size: rem-calc(14);
    font-weight: bold;
    color: $gray-darker;
    line-height: 1;
  }

  &__subLabel {
    font-size: rem-calc(12);
    color: $gray-3;
  }

  &__input {
    align-self: flex-end;
    justify-self: flex-end;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(50);
    height: rem-calc(32);
    background-color: $primary-color;
    border-radius: $global-rounded;
    color: $white;
  }
}
