@import '../../../styles/index.scss';

.propertyGrid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  grid-gap: $global-padding;
  overflow: auto;
  list-style: none;
}

@include media-query('large-tablet') {
  .propertyGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
