@import '../../styles/index.scss';

.header {
  @extend %gridHeader;

  &__title {
    @extend %gridHeaderTitle;
  }

  &__pdfReport {
    text-align: center;
    color: $white;
    background-color: $black;
    padding: rem-calc(4) 0;
    font-size: rem-calc(14);
    margin: 0;
  }
}

.main {
  padding: $global-lg-padding $global-padding $global-padding;
}

.section {
  &__list {
    @extend %list;
    @extend %stickyBoundingBox;
    padding: 0;
    flex-wrap: nowrap;
    align-items: stretch;

    &__item {
      @extend %stickyBoundingBox--listItem;
      text-align: left;

      &--grid {
        @extend %gridTableSection;
      }

      &__header {
        @extend %stickyBoundingBox--header;
        display: flex;
        flex-direction: column;
        text-align: left;
        background-color: $gray-dark;
        cursor: pointer;

        &--grid {
          @extend %gridTableSectionTitle--padded;
          position: sticky;
          z-index: 12;
          cursor: pointer;

          // Collapse Chevron
          svg {
            width: rem-calc(16);
            height: rem-calc(16);
            transform: rotate(90deg);
            path {
              fill: #000;
            }
          }
        }

        &--collapsed {
          // Collapse Chevron
          svg {
            transform: rotate(-90deg);
          }
        }

        // Single/Multi-Section icons
        svg {
          width: rem-calc(15);
          height: rem-calc(15);
          path {
            fill: $white;
          }
        }

        &__content {
          display: flex;
          justify-content: space-between;
          gap: rem-calc(16);
        }
      }

      &__button {
        @extend %actionButton;

        &--line {
          @extend %actionButton--line;
          text-transform: capitalize;
        }

        &--red {
          @extend %actionButton--red;

          &Outline {
            @extend %actionButton--redLine;
            text-transform: capitalize;
          }
        }
      }

      &__footer {
        display: flex;
        justify-content: space-between;
      }

      &__action {
        display: flex;
        gap: rem-calc(12);
      }

      &__row {
        display: grid;
        position: relative;
        padding: $global-sm-padding $global-padding;
        border-bottom: rem-calc(1) solid $gray-lighter;
        min-height: rem-calc(72);

        &--mainInput {
          display: flex;
          flex: 1 1 auto;
          gap: $global-md-padding;

          // Expand main input items
          // to fill available space
          ul:nth-child(1) {
            flex: 1 1 auto;
          }

          &Grid {
            gap: $global-mlg-padding;
            flex-direction: row;

            ul:nth-child(1) {
              flex: none;
            }
          }
        }

        &--grid {
          padding: $global-sm-padding 0 $global-sm-padding $global-lg-padding;
          grid-template-columns: 0.6fr 1fr auto;
          min-height: rem-calc(63);

          &Action {
            display: flex;
            align-items: center;
            padding: 0 $global-sm-padding;
            cursor: pointer;
            position: relative;
            @extend %gridHeaderCreateButton--dropdown;

            &:hover {
              background-color: rgba(0, 0, 0, 0.2);
            }

            // Dropdown icon
            > svg {
              max-width: rem-calc(22);
              max-height: rem-calc(22);
            }
          }
        }
        &--gridSignature {
          min-height: rem-calc(128);
          display: flex;
          flex-direction: column;
        }
        &--signature {
          min-height: rem-calc(185);
        }

        &--notApplicable {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba($black, 0.38);

          h3 {
            color: $white;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }

  @include media-query(tablet) {
    &__list__item__header__content {
      font-size: rem-calc(22);
      line-height: rem-calc(30);
    }

    &__list__item__row--gridAction {
      padding: 0px $global-padding;
    }

    &__list__item__row--gridSignature {
      display: grid;
      flex-direction: row;
      min-height: rem-calc(160);
    }
    &__list__item__footer {
      align-items: center;
      gap: rem-calc(12);

      span {
        display: inline-flex;
        justify-content: center;
      }
    }
  }
}
