@import '../../styles/index.scss';

.container {
  overflow: auto;
  &__sidebar {
    max-width: 100%;
    flex: 1;
  }

  @include media-query(desktop) {
    display: flex;
    padding: $global-lg-padding $global-padding;

    &__sidebar {
      flex: 1 1 30%;
    }

    &__main {
      flex: 1 1 70%;
      padding-left: $global-lg-padding;
      padding: $global-mlg-padding;
      border: 1px solid $gray;
      display: flex;
      margin-left: $global-lg-padding;
    }

    &__formSidebar {
      flex: 0 1 auto;
      max-width: 40%;
    }

    &__form {
      flex: 1 1 60%;
    }
  }

  @include media-query(desktop) {
    overflow: visible;
  }
}
