@import '../../../../styles/index.scss';

.icon {
  max-width: $global-mlg-padding;
  max-height: $global-mlg-padding;
}

.linkText {
  color: $white;
  margin-left: $global-sm-padding;
  text-decoration: none;
  font-size: rem-calc(13);
  white-space: nowrap;

  @include media-query(desktop) {
    color: $primary-color;
    text-decoration: underline;
  }

  @include media-query(large-desktop) {
    font-size: rem-calc(14);
  }
}
