@import '../../styles/index.scss';

.teamEdit {
  &__sendButton {
    background: transparent;
    border-width: 0;
    padding: $global-padding;
    &:disabled {
      opacity: $button-opacity-disabled;
    }
  }

  &__form {
    height: 100%;
    width: rem-calc(550);
    padding: 0 $global-lg-padding $global-lg-padding;
    margin: 0 auto;
    overflow: auto;
  }

  &__formGroup {
    margin-top: $global-lg-padding;

    &__label {
      font-weight: 600;
      color: $primary-dark-color;
    }

    &__input {
      @extend %inputText;
      margin: 0 0 $global-xsm-padding 0;
    }
  }
}
