@import '../../../styles/index.scss';

.mobileProperties {
  @extend %list;
  @extend %stickyBoundingBox;
  padding: 0;
  flex-wrap: nowrap;
  align-items: stretch;

  &__sortInfoLine {
    @extend %sortInfo;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__itemHeader {
    @extend %stickyBoundingBox--header;
  }
}

//
// Result rows inside Mobile property items
//

.itemResult {
  position: relative;
  overflow: hidden;
}

.itemResult--swipeOpen {
  transform: translateX(rem-calc(-138));
}

.itemResult__content {
  padding: rem-calc(8) rem-calc(16) rem-calc(8) rem-calc(16);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border-bottom: rem-calc(1) solid $gray;
  background-color: $white;
  font-size: rem-calc(14);
  line-height: rem-calc(22);
  color: $black;
  transition: transform 400ms ease-out;
}

.itemResult__link {
  text-decoration: none;
  color: inherit;
}

// Toggle button
.itemResult__toggle {
  position: absolute;
  top: 50%;
  right: rem-calc(16);
  transform: translateY(-50%);
  cursor: pointer;

  > svg {
    width: rem-calc(8);
    height: rem-calc(14);
  }
}

.itemResult__metadata {
  padding: rem-calc(3) rem-calc(8);
  margin-right: rem-calc(26);
  background-color: $gray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: rem-calc(1) solid $gray-lighter;
  border-radius: rem-calc(3);
  font-weight: 100;
  color: inherit;
}

//
// Swipe Reveal Buttons
//
.swipeReveal {
  @extend %swipeReveal;
  @extend %swipeReveal__hidden;

  > button {
    @extend %flexButton;
    align-items: center;
  }

  &__reveal {
    @extend %swipeReveal__hidden--reveal;
  }

  &__editButton {
    background-color: $primary-dark-color !important;
  }

  &__deleteButton {
    background-color: $alert-color !important;
  }
}
