@import '../../../styles/index.scss';

.container {
  @extend %stickyBoundingBox;

  @include media-query(desktop) {
    overflow: visible;
    padding: $global-padding;
  }
}

.main {
  position: relative;
}

.action {
  margin: $global-padding 0;
  display: flex;
  justify-content: center;

  &__clear {
    @extend %actionButton--blackText;
  }
}
