@import '../../../../styles/index.scss';

.jobList {
  &__box {
    @extend %stickyBoundingBox;

    &__list {
      @extend %profile-list;

      &__list__item {
        @extend %stickyBoundingBox--listItem;
      }
    }

    &__header {
      @extend %stickyBoundingBox--header;
    }
  }

  &__category {
    @extend %profile-list;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    font-size: $medium-small-font-size;

    &__item {
      @extend %profile-list--item;
      flex-direction: column;
      cursor: pointer;
    }
  }

  &__record {
    display: flex;
    border-bottom: 1px solid $gray-lighter;
    position: relative;
    min-height: rem-calc(80);

    &__edit {
      display: flex;
      flex: 1 1 auto;
      a {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }
    }

    &__bid {
      display: flex;
      a {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: flex-end;
      }
      &Link {
        text-decoration: underline;
        margin-top: $global-sm-padding;
      }
    }

    &:last-child {
      border-width: 0;
    }

    &__title {
      font-size: rem-calc(14);
      font-weight: bold;
    }

    &__row {
      padding-top: rem-calc(4);
    }

    &__type {
      @extend %gridTableLabel;
    }

    &__toogle {
      position: absolute;
      top: 60%;
      right: 1rem;
      transform: translateY(-50%);
      cursor: pointer;

      > svg {
        width: rem-calc(8);
        height: rem-calc(14);
      }
    }
  }
}

.itemResult--swipeOpen {
  transform: translateX(rem-calc(-60));
}

.itemResult__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 auto;
  transition: transform 400ms ease-out;
  padding: rem-calc(8) rem-calc(16);
  background-color: $white;
  justify-content: space-between;
}

//
// Swipe Reveal Buttons
//
.swipeReveal {
  @extend %swipeReveal;
  @extend %swipeReveal__hidden;

  > a,
  > button {
    @extend %flexButton;
    align-items: center;
  }

  &__reveal {
    @extend %swipeReveal__hidden--reveal;
  }

  &__editButton {
    background-color: $primary-dark-color !important;
  }
}

.action {
  @extend %clear-search-footer-action;

  &__clear {
    @extend %actionButton--blackText;
  }
}
