@import '../../../styles/index.scss';

.header {
  &__propertyName {
    @extend %gridHeaderLink;
  }

  &__breadcrumb {
    @extend %gridHeaderLinkMain;
  }

  &__heading {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item {
    text-align: right;
    min-width: rem-calc(280);

    &__button {
      @extend %gridHeaderCreateButton;
      display: inline-flex;
      margin: 0 rem-calc(16) 0 0;

      &:disabled {
        opacity: 0.5;
      }

      &--dark {
        background-color: $primary-xdark-color;
      }

      // Icon of Add button
      svg {
        margin-left: rem-calc(4);
        width: rem-calc(12);
        height: rem-calc(12);
      }

      &:last-child {
        margin: 0;
      }

      &__share {
        background-color: $white;
        justify-content: center;
        vertical-align: middle;
        padding: 0;
        height: auto;
        width: auto;

        svg {
          width: $global-lg-padding;
          max-width: 50%;
          height: auto;
          path {
            fill: $primary-color;
          }
        }
      }
    }
  }
}
