@import '../../../../styles/index.scss';

.main {
  display: block;
  min-height: rem-calc(115);
  padding: $global-sm-padding $global-padding;
  border-width: 0 rem-calc(1) rem-calc(1) rem-calc(1);
  border-color: $gray-lighter;
  border-style: solid;
  background: $white;

  @include media-query(desktop) {
    min-height: rem-calc(100);
  }
}

.item {
  display: flex;
  flex-direction: column;

  @include media-query(desktop) {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.details {
  display: flex;
  justify-content: space-between;

  @include media-query(desktop) {
    align-items: flex-end;
  }
}

.pill {
  margin-bottom: $global-sm-padding;
  padding: 0 rem-calc(4);
  border-radius: $global-radius;
  background-color: $gray-light-2;
  color: $white;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1.4;

  &--info {
    background-color: $info-color;
  }

  @include media-query(desktop) {
    margin-left: $global-padding;
    margin-bottom: 0;
    padding: rem-calc(10) rem-calc(20);
    background-color: $gray;
    color: $black;
  }
}

.title,
.info {
  @extend %ellipsisOverflow;
  margin-bottom: 0;
  font-size: $medium-font-size;
  line-height: 1.3;
  color: $black;

  @include media-query(desktop) {
    font-size: $paragraph-font-size;
  }
}

.title {
  font-weight: bold;
}
