@import '../../styles/index.scss';

.container {
  height: 100%;
  background-color: $gray;

  @include media-query(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  height: 100%;
  width: 100%;
  max-width: rem-calc(600);
  margin: 0 auto;
  background-color: $white;

  @include media-query(tablet) {
    height: auto;
    overflow: hidden;
    border: 1px solid $gray-lighter;
    border-radius: $global-radius * 2;
  }
}

.form {
  flex-grow: 1;
  padding: 0 $global-lg-padding;

  &__input[type='password'],
  &__input[type='text'] {
    border-radius: 0;
    border-width: 0;
    @extend %form-input;
  }

  &__input[type='password'] {
    @extend %fieldset__close;
  }

  &__input[type='text'] {
    @extend %fieldset__open;
  }

  &__fields,
  &__actions,
  &__generalErrors {
    max-width: rem-calc(320);
    margin: 0 auto;
  }

  &__fields {
    @extend %fieldset;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: $global-padding;
    margin-bottom: $global-mlg-padding;
  }

  &__button {
    @extend %unstyledButton;
    padding: 0;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;

    &__primary {
      color: $primary-color;
    }

    &__secondary {
      color: $gray-light;
    }

    &--loading {
      @extend %ani-blink;
      color: $gray-light;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__promptButton {
    @extend %unstyledButton;
    display: block;
    margin: $global-padding auto 0;
    font-weight: bold;
    text-align: center;
  }

  &__loginImg {
    width: rem-calc(75);
    display: block;
    margin: 0 auto;
  }
}
