.loginForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    background: #fff;
    width: 300px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  h2 {
    margin: 0 0 20px;
    color: #44c4e7;
    font-size: 18px;
    font-weight: 400;
  }
  input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: black;
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
    &input:focus {
      color: #333;
      border: 1px solid #44c4e7;
    }
  }
  &__button {
    cursor: pointer;
    background: #44c4e7;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    &:hover {
      background: #369cb8;
    }
  }
}
