@import '../../../styles/index.scss';

.header {
  @extend %gridHeader;

  &__bottom {
    padding-top: 0;
  }

  &__backButton {
    @extend %gridHeaderBackButton;
  }

  &__filterButton {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
  }

  &__left {
    flex-wrap: wrap;
    display: flex;
  }

  &__main {
    @extend %gridHeaderMain;
    margin-right: 1rem;
  }

  &__title {
    @extend %gridHeaderTitle;
  }

  &__propertyName,
  &__jobTitle {
    @extend %gridHeaderTitle--ellipsis;
    max-width: 9ch;
  }

  &__controls {
    @extend %gridHeaderControls;
  }

  &__item {
    &:first-child {
      margin-right: $global-padding;
    }

    &__createButton {
      @extend %gridHeaderCreateButton;
      display: inline-flex;
      min-width: rem-calc(170);

      // Icon of Add button
      span {
        @extend %gridHeaderButtonIcon;
      }
    }
  }

  &__overview {
    &__link {
      @extend %overviewDataLink;
      @extend %overviewDataLink--inline;
    }
    &__metadata {
      @extend %overviewDataLink--metadata;
      @extend %overviewDataLink--metadataInline;
      > li {
        &.-inactive {
          opacity: 0.35;
        }
      }
    }
    &__label {
      @extend %overviewDataLink--label;
      @extend %overviewDataLink--labelListItem;
    }
    &__labelSub {
      @extend %overviewDataLink--labelSub;
    }
  }
}
