@import '../../../../styles/index.scss';

$elementHeight: $inspectionStatusBarHeight;

.container {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  position: sticky;
  top: 0;
  transition: top 200ms ease-in;
  border-top: 1px solid $gray-lighter;
  z-index: 13;

  @include media-query(desktop) {
    top: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__search {
    display: flex;
    align-items: center;
    height: $elementHeight;
    flex: 1;
    padding-left: $global-padding;
  }

  @include media-query(desktop) {
    // Apply global desktop padding to left
    &__search {
      padding-left: $global-lg-padding - rem-calc(5);
    }
  }
}

.clearButton {
  @extend %actionButton--black;
  font-size: $paragraph-font-size;
  text-transform: none;
  padding: $global-sm-padding $global-mlg-padding;
}

.searchInput[type='search'],
.searchInput[type='search']:hover {
  @extend %searchInput;
  @extend %searchInputBackgound;
  margin: 0;
  color: $gray-light;

  &:focus {
    color: $gray-light;
  }

  &::placeholder {
    color: $gray-light;
  }
}
