.-p-none {
  padding: 0 !important;
}

.-pt-none {
  padding-top: 0 !important;
}
.-pr-none {
  padding-right: 0 !important;
}
.-pb-none {
  padding-bottom: 0 !important;
}
.-pl-none {
  padding-left: 0 !important;
}

.-pt-sm {
  padding-top: $global-sm-padding !important;
}
.-pr-sm {
  padding-right: $global-sm-padding !important;
}
.-pb-sm {
  padding-bottom: $global-sm-padding !important;
}
.-pl-sm {
  padding-left: $global-sm-padding !important;
}

.-pt-xsm {
  padding-top: $global-xsm-padding !important;
}
.-pb-xsm {
  padding-bottom: $global-xsm-padding !important;
}

.-pt {
  padding-top: $global-padding !important;
}
.-pr {
  padding-right: $global-padding !important;
}
.-pb {
  padding-bottom: $global-padding !important;
}
.-pl {
  padding-left: $global-padding !important;
}

.-pb-mlg {
  padding-bottom: $global-mlg-padding !important;
}

.-pb-lg {
  padding-bottom: $global-lg-padding !important;
}
.-pr-lg {
  padding-right: $global-lg-padding !important;
}

.-pr-xlg {
  padding-right: $global-xlg-padding !important;
}
