.-bgc-gray {
  background-color: $gray !important;
}

.-bgc-gray-light {
  background-color: $gray-light !important;
}

.-bgc-sea-green {
  background-color: $sea-green-color !important;
}

.-bgc-gray-dark {
  background-color: $gray-dark !important;
}

.-bgc-med-dark {
  background-color: $gray-med-dark !important;
}

.-bgc-black {
  background-color: #000 !important;
}

.-bgc-white {
  background-color: $white !important;
}

.-bgc-primary-dark {
  background-color: $primary-dark-color !important;
}

.-bgc-primary-xdark {
  background-color: $primary-xdark-color !important;
}

.-bgc-primary {
  background-color: $primary-color !important;
}

.-bgc-secondary {
  background-color: $secondary-color !important;
}

.-bgc-tertiary {
  background-color: $tertiary-color !important;
}

.-bgc-quaternary {
  background-color: $quaternary-color !important;
}

.-bgc-info {
  background-color: $info-color !important;
}

.-bgc-alert {
  background-color: $alert-color !important;
}

.-bgc-alert-secondary {
  background-color: $alert-secondary-color !important;
}

.-bgc-alert-light {
  background-color: #ffe5e6 !important;
}

.-bgc-success {
  background-color: $success-color !important;
}

.-bgc-orange {
  background-color: $orange-color !important;
}

.-bg-four-square-loader {
  background: url(../../public/img/sparkle-loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
