.-cu-not-allowed {
  cursor: not-allowed !important;
}

.-cu-text {
  cursor: text !important;
}

.-cu-pointer {
  cursor: pointer !important;
}

.-cu-move {
  cursor: move !important;
}

.-cu-row-resize {
  cursor: row-resize !important;
}

.-cu-default {
  cursor: default !important;
}
