.-mt-none {
  margin-top: 0 !important;
}
.-mb-none {
  margin-bottom: 0 !important;
}
.-mr-none {
  margin-right: 0 !important;
}
.-ml-none {
  margin-left: 0 !important;
}
.-m-none {
  margin: 0 !important;
}

.-ml-auto {
  margin-left: auto !important;
}
.-mr-auto {
  margin-right: auto !important;
}

.-mt-xsm {
  margin-top: $global-xsm-padding !important;
}
.-ml-xsm {
  margin-left: $global-xsm-padding !important;
}
.-mb-xsm {
  margin-bottom: $global-xsm-padding !important;
}
.-mr-xsm {
  margin-right: $global-xsm-padding !important;
}

.-mt-sm {
  margin-top: $global-sm-padding !important;
}
.-ml-sm {
  margin-left: $global-sm-padding !important;
}
.-mb-sm {
  margin-bottom: $global-sm-padding !important;
}
.-mr-sm {
  margin-right: $global-sm-padding !important;
}

.-mt {
  margin-top: $global-padding !important;
}
.-ml {
  margin-left: $global-padding !important;
}
.-mb {
  margin-bottom: $global-padding !important;
}
.-mr {
  margin-right: $global-padding !important;
}

.-mt-lg {
  margin-top: $global-lg-padding !important;
}
.-mb-lg {
  margin-bottom: $global-lg-padding !important;
}
