@import '../../../styles/index.scss';

.header {
  &__propertyName {
    @extend %gridHeaderTitle--ellipsis;
    max-width: 7ch;
  }

  &__controls {
    @extend %gridHeaderControls;
    padding-top: 0.3em;
    align-items: flex-start;
  }
}
