@import '../../../styles/index.scss';

.header {
  &__breadcrumb {
    @extend %gridHeaderLinkMain;
  }

  &__propertyName {
    @extend %gridHeaderLink;
    max-width: 25%;
  }

  &__jobTitle {
    @extend %gridHeaderTitle--ellipsis;
    max-width: 100%;
  }

  &__controls {
    @extend %gridHeaderControls;
    padding-top: 0.3em;
    align-items: flex-start;
  }
}
