@import '../../../../../styles/index.scss';

.container {
  display: block;
  border-bottom: 1px solid $gray-lighter;
  min-height: rem-calc(84);

  &--withSubTitle {
    min-height: rem-calc(102);
  }

  @include media-query(desktop) {
    min-height: rem-calc(92);
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: $global-sm-padding $global-padding;
  cursor: pointer;

  @include media-query(desktop) {
    flex-direction: row-reverse;
    padding: $global-padding $global-lg-padding;
    justify-content: space-between;
    min-height: rem-calc(91);
    padding: $global-sm-padding $global-lg-padding;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;

  &--reverse {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-self: flex-end;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
  }

  &__right {
    align-items: flex-end;
  }

  @include media-query(desktop) {
    &__right {
      align-items: flex-start;
    }
  }
}

.badge {
  font-weight: 300;
  font-size: 0.85rem;
  white-space: nowrap;
  background-color: $gray-darker;
  padding: 0 rem-calc(4);
  color: $white;
  border-radius: $global-radius;
  line-height: 1.4;
  margin-bottom: $global-xsm-padding;

  &--corporate,
  &--corporate_manages_vendor,
  &--completed,
  &--deferred,
  &--requires-progress-update,
  &--pending {
    background-color: $info-color;
  }

  &--site_level_in-house {
    background-color: $black;
  }

  &--incomplete,
  &--overdue,
  &--requires-action,
  &--go-back {
    background-color: $alert-color;
  }

  &--closed {
    background-color: $gray-light;
  }

  @include media-query(desktop) {
    background-color: $gray;
    padding: rem-calc(10) rem-calc(20);
    margin-right: $global-padding;
    color: $black;

    &--corporate,
    &--corporate_manages_vendor {
      color: $secondary-color;
    }
  }
}

.title {
  font-weight: bold;
  font-size: rem-calc(14);
  line-height: 1.3;
  color: $black;
  margin-left: $global-padding;

  @include media-query(desktop) {
    font-size: rem-calc(16);
    line-height: 1.3;
    color: $black;
    font-weight: normal;
    margin-left: 0;
  }
}

.sectionTitle {
  line-height: 1.3;
  color: $gray-dark;
  font-size: rem-calc(14);
}
