@import '../../styles/index.scss';

.overlay {
  position: fixed;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
  width: calc(100% - 15.625rem);
  height: 100vh;
  display: grid;
}

.loader {
  width: 85%;
  height: 85vh;
  max-width: rem-calc(600);
  max-height: rem-calc(276);
  background-color: $white;

  display: grid;
  margin: auto;
  text-align: center;

  &__centered {
    margin: auto;
  }

  img {
    margin-bottom: 1rem;
  }

  &__blink {
    animation: fadeinout 1.2s linear infinite;
  }
}
