@import '../../styles/index.scss';

.overlay {
  position: fixed;
  width: calc(100% - #{$sliderNavWidth});
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.7);

  @include media-query(desktop) {
    width: calc(100% - #{2 * $sliderNavWidth});
  }
}

.loader {
  width: 85%;
  height: 85vh;
  max-width: rem-calc(600);
  max-height: rem-calc(276);
  background-color: $white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;

  img {
    margin-bottom: 1rem;
  }

  &__blink {
    animation: fadeinout 1.2s linear infinite;
  }

  &__progress {
    height: rem-calc(16);
    width: 70%;
    overflow: hidden;
    position: relative;
    background-color: lighten($gray-light, 26);
    border-radius: $global-radius;

    &__fill {
      width: 0%;
      max-width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
      transition: width 100ms ease-in;
      background-color: $primary-color;
      height: rem-calc(16);
    }
  }
}
