@import '../../../styles/index.scss';

.field {
  &__main {
    padding: $global-sm-padding $global-padding $global-sm-padding;
  }

  &__textarea {
    padding: rem-calc(3) $global-padding 0;
    margin: 0;
    background-color: transparent;
    resize: none;
    width: 100%;
    max-width: 100%;

    &--empty,
    &--empty:focus,
    &--empty:hover {
      background-color: $alert-light-color;
    }
  }

  &__footer {
    margin-top: $global-padding;
  }

  @include media-query(desktop) {
    margin-bottom: $global-lg-padding;

    &__main {
      padding: 0;
    }

    &__textarea {
      max-width: rem-calc(300);
    }
  }
}

.label {
  text-align: center;
  color: $white;
  background-color: $gray-dark;
  padding: rem-calc(4) 0;
  font-size: rem-calc(14);
  text-transform: uppercase;

  @include media-query(desktop) {
    text-align: left;
    color: $black;
    margin-bottom: $global-padding;
    background-color: transparent;
    font-size: rem-calc(22);
    border-bottom: 1px solid $gray-lighter;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.heading {
  color: $white;
  font-size: rem-calc(14);
  text-transform: uppercase;

  @include media-query(desktop) {
    font-size: rem-calc(22);
    color: $black;
    white-space: nowrap;
    text-transform: none;
  }
}

.textButton {
  @extend %hollowButton;
  border: none;
  margin: 0;

  &[disabled] {
    color: $gray-light;
    cursor: not-allowed;
  }

  @include media-query(desktop) {
    text-align: left;
    padding-left: 0;
    width: auto;
  }
}

.richText {
  font-size: rem-calc(14);

  @include media-query(desktop) {
    font-weight: normal;
  }
}
