@import '../../../styles/index.scss';

.section {
  &__main {
    padding: $global-sm-padding $global-padding $global-sm-padding;
  }

  &__footer {
    @extend %deficientItemSection--footer;
  }

  @include media-query(desktop) {
    margin-bottom: $global-lg-padding;

    &__main {
      padding: 0;
    }
  }
}

.label {
  @extend %deficientItemSection--label;
}

.heading {
  @extend %deficientItemSection--heading;

  &--small {
    font-size: rem-calc(14);
  }
}

.subHeading {
  @extend %deficientItemSection--subHeading;
}

.textButton {
  @extend %deficientItemSection--textButton;
}

.richText {
  font-size: rem-calc(14);

  @include media-query(desktop) {
    font-weight: normal;
  }
}

.strong {
  display: block;
  margin: auto;
  max-width: rem-calc(300);
  font-size: rem-calc(14);
  font-weight: bold;
  text-align: center;

  @include media-query(desktop) {
    max-width: rem-calc(450);
    font-size: rem-calc(16);
    margin: 0;
    font-weight: normal;
    text-align: left;
  }
}

.formInput {
  padding: rem-calc(3) $global-sm-padding 0;
  margin: 0;
  background-color: transparent;
  resize: none;
  width: 100%;
  max-width: 100%;

  &--empty,
  &--empty:focus,
  &--empty:hover {
    background-color: $alert-light-color !important;
  }

  &--progressNote {
    &::placeholder {
      padding-top: rem-calc(10);
      color: $primary-color;
      text-align: center;
    }
    // Hide placeholder text on focus
    &:focus::placeholder {
      color: transparent;
    }
  }

  @include media-query(desktop) {
    max-width: rem-calc(300);

    &--progressNote {
      &::placeholder {
        text-align: left;
      }
    }
  }
}
