@import '../../../styles/index.scss';

.section {
  &__main {
    padding: $global-sm-padding $global-padding $global-sm-padding;
  }

  &__footer {
    margin-top: $global-padding;
  }

  @include media-query(desktop) {
    margin-bottom: $global-lg-padding;

    &__main {
      padding: 0;
    }
  }
}

.label {
  background-color: $gray-dark;
  padding: rem-calc(4) 0;
  font-size: rem-calc(14);
  text-align: center;
  color: $white;
  text-transform: uppercase;

  @include media-query(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $global-padding;
    border-bottom: 1px solid $gray-lighter;
    background-color: transparent;
    font-size: rem-calc(22);
    text-transform: none;
    text-align: left;
    color: $black;
  }
}

.heading {
  color: $white;
  font-size: rem-calc(14);
  text-transform: uppercase;

  @include media-query(desktop) {
    font-size: rem-calc(22);
    color: $black;
    white-space: nowrap;
    text-transform: none;
  }
}

.textButton {
  @extend %hollowButton;
  border: none;
  margin: 0;

  &[disabled] {
    color: $gray-light;
    cursor: not-allowed;
  }

  @include media-query(desktop) {
    padding-left: 0;
    width: auto;
    text-align: left;
  }
}

.richText {
  font-size: rem-calc(14);

  @include media-query(desktop) {
    font-weight: normal;
  }
}

.strong {
  display: block;
  margin: auto;
  max-width: rem-calc(300);
  font-size: rem-calc(14);
  font-weight: bold;
  text-align: center;

  @include media-query(desktop) {
    max-width: rem-calc(450);
    font-size: rem-calc(16);
    margin: 0;
    font-weight: normal;
    text-align: left;
  }
}

.formInput {
  padding: rem-calc(3) $global-padding 0;
  margin: 0;
  background-color: transparent;
  resize: none;
  width: 100%;
  max-width: 100%;

  &--empty,
  &--empty:focus,
  &--empty:hover {
    background-color: $alert-light-color !important;
  }

  @include media-query(desktop) {
    max-width: rem-calc(300);
  }
}
