@import '../../../styles/index.scss';

.header {
  @extend %stickyBoundingBox--header;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-query(desktop) {
    min-height: rem-calc(65);
    top: $searchBarHeight;
    justify-content: flex-start;
    padding: $global-padding $global-lg-padding;
    background: $gray;
    text-align: left;
    line-height: 1;
    font-size: rem-calc(22);
    text-transform: none;
    color: $gray-dark;
    font-weight: 400;
  }
}
