@import '../../../../styles/index.scss';

.swipeReveal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-shrink: 1;

  > button {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    border: none;
    text-align: center;
    line-height: rem-calc(19);
    color: $white;
    font-weight: 700;
    font-size: rem-calc(12);
  }

  &__editButton {
    background-color: $primary-dark-color;
  }

  &__deleteButton {
    background-color: $alert-color;
  }
}
