@import '../../../../styles/index.scss';

.item {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  border: rem-calc(1) solid $gray-lighter;
  min-height: rem-calc(130);

  //Optional layout wrapper for the image/main elements
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 100%;
    text-decoration: none;
    max-width: 100%;
  }

  &__image,
  &__main {
    min-height: rem-calc(100);
    box-sizing: border-box;
  }

  // Profile picture
  &__image {
    max-width: rem-calc(100);
    flex: 1 1 30%;
    background-color: $gray-lighter;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // Profile description
  &__main {
    padding: $global-sm-padding;
    flex: 1 1 70%;
    overflow: hidden;

    p {
      margin: 0;
      color: $gray-med-dark-2;
    }
  }

  &__heading {
    margin: 0 0 rem-calc(2) 0;
    line-height: rem-calc(19);
    font-size: $global-padding;
    font-weight: bold;
    color: $black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__subHeading {
    line-height: rem-calc(22);
    font-size: $medium-font-size;
    color: $gray-med-dark-2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    line-height: rem-calc(19);
    font-size: $medium-small-font-size;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $gray-med-dark-2;
    overflow: hidden;
  }

  // Metadata and Edit button
  &__footer {
    display: flex;
    flex: 1 1 100%;
    align-self: flex-end;
    height: rem-calc(28);
    padding: 0 $global-sm-padding;
    align-items: center;
    justify-content: space-between;
    background-color: $gray;
    border-top: rem-calc(1) solid $gray-lighter;

    > * {
      max-width: rem-calc(200);
      display: block;
      flex: 0 1 auto;
      white-space: nowrap;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: rem-calc(22);
    text-decoration: none;
    font-size: rem-calc(14);
    font-weight: 100;
    color: $black;
  }

  &__editButton {
    line-height: rem-calc(19);
    text-decoration: underline;
    font-size: $medium-small-font-size;
    color: $primary-dark-color;
  }
}
