@import '../../../../styles/index.scss';

$progressBarHeight: rem-calc(4);
$elementHeight: $inspectionStatusBarHeight - $progressBarHeight;

.container {
  display: flex;
  flex-direction: column;
  background-color: $gray;
  position: sticky;
  top: $mobileHeaderBaseHeight;
  transition: top 200ms ease-in;
  border-top: 1px solid $gray-lighter;
  z-index: 13;

  @include media-query(desktop) {
    top: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__search,
  &__content,
  &__action {
    flex: 1;
    display: flex;
    align-items: center;
    height: $elementHeight;
  }

  // search section
  &__search {
    padding-left: $global-padding;

    &__input[type='search'],
    &__input[type='search']:hover {
      @extend %searchInput;
      @extend %searchInputBackgound;
      margin: 0;
      color: $gray-light;

      &:focus {
        color: $gray-light;
      }

      &::placeholder {
        color: $gray-light;
      }
    }
  }

  &__clear {
    padding-right: $global-padding;

    &__button {
      @extend %actionButton--black;
      font-size: $paragraph-font-size;
      text-transform: none;
      padding: $global-sm-padding $global-mlg-padding;
    }
  }

  // status section
  &__content {
    color: $gray-light-5;
    font-size: rem-calc(14);
    padding: 0;
    justify-content: right;
    padding-right: $global-padding;
    flex: 2;
  }

  // actions sections
  &__action {
    display: none;
    padding: 0;
    justify-content: flex-end;
    align-items: stretch;
    flex: 0 0 rem-calc(200);

    &__button {
      @extend %actionButton--line;
      color: $primary-color;
      display: inline-flex;
      line-height: $elementHeight;
      padding: 0 $global-sm-padding;
      font-size: $paragraph-font-size;
      border: none;

      &:last-child {
        padding-right: $global-padding;
      }

      &:disabled {
        opacity: 0.32;
      }

      &--dark {
        color: $primary-xdark-color;
      }

      // Icon of Complete button
      svg {
        margin-left: rem-calc(4);
        width: rem-calc(14);
        height: rem-calc(14);

        path {
          fill: $primary-color;
        }
      }
    }
  }

  @include media-query(desktop) {
    &__search {
      padding-left: $global-lg-padding;
      flex: 0 0 rem-calc(200);
    }

    &__action__button:last-child {
      padding-right: $global-lg-padding;
    }

    &__content {
      justify-content: center;
      padding-right: 0;
    }

    &__action {
      display: flex;
    }
  }
}

.progress {
  height: rem-calc(4);
  background-color: $gray-lighter;

  //progress bar progress
  &__fill {
    height: rem-calc(4);
    background-color: $info-color;
    transition: width 200ms ease-in;
    width: 0%;
  }
}
