@import '../../../../styles/index.scss';

$progressBarHeight: rem-calc(4);
$elementHeight: $inspectionStatusBarHeight - $progressBarHeight;

.container {
  @extend %statusbar-container;
  top: $mobileHeaderBaseHeight;

  @include media-query(desktop) {
    top: 0;
  }
}

.main {
  @extend %statusbar-main;

  &__search {
    @extend %statusbar-search;
    height: $elementHeight;
  }

  &__content,
  &__action {
    display: flex;
    align-items: center;
    height: $elementHeight;
  }

  // Minimize mobile left column
  &__search,
  &__action {
    flex: 0 1 32%;
  }

  // Maximize mobile right column
  &__content {
    flex: 2 1 auto;
  }

  // Hide mobile actions
  &__action {
    display: none;
  }

  &__content {
    padding: 0 $global-padding 0 0;
    justify-content: flex-end;
    color: $gray-light-5;
    font-size: rem-calc(14);
    white-space: nowrap;
  }

  &__action {
    padding: 0;
    justify-content: flex-end;
    align-items: stretch;
  }

  @include media-query(desktop) {
    // Shift content to center
    &__content {
      justify-content: center;
      padding-right: 0;
    }

    // Reveal actions
    &__action {
      display: flex;

      // Apply global desktop padding to right
      > *:last-child {
        margin-right: 0;
        padding-right: $global-lg-padding !important;
      }
    }
  }
}

.progress {
  height: rem-calc(4);
  background-color: $gray-lighter;

  //progress bar progress
  &__fill {
    height: rem-calc(4);
    background-color: $info-color;
    transition: width 200ms ease-in;
    width: 0%;
  }
}

.button {
  @extend %actionButton--line;
  display: inline-flex;
  padding: 0;
  margin-bottom: 0;
  font-size: $paragraph-font-size;
  line-height: $elementHeight;
  color: $primary-color;
  border: none;

  &:last-child {
    padding-right: $global-padding;
  }

  &:hover {
    color: $primary-color;
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.32;
  }

  &--dark,
  &--dark:hover {
    color: $primary-xdark-color;
  }

  // Icon of Complete button
  svg {
    margin-left: rem-calc(4);
    width: rem-calc(14);
    height: rem-calc(14);

    path {
      fill: $primary-color;
    }
  }
}

.clearButton {
  @extend %statusbar-clearButton;
}

.searchInput[type='search'],
.searchInput[type='search']:hover {
  @extend %statusbar-searchInput;
}
