@import '../../../../styles/index.scss';

.container {
  display: flex;
  position: relative;
  padding: $global-sm-padding $global-padding;
  justify-content: space-between;
  border-bottom: 1px solid $gray-lighter;

  &__left {
    flex: 1;
  }

  @include media-query(desktop) {
    padding: $global-sm-padding $global-lg-padding;
  }
}

.info {
  display: flex;
  flex-direction: row;
  color: $gray-dark;

  &__label {
    padding: 0;
    margin: 0 rem-calc(4) 0 0;
    font-size: rem-calc(14);
    font-weight: bold;
  }

  &__value {
    margin: 0 rem-calc(4) 0 0;
    font-size: rem-calc(14);
  }
}

.title {
  font-weight: bold;
  font-size: rem-calc(14);
  line-height: 1.3;
  color: $black;

  span {
    margin-right: $global-xsm-padding;
  }

  @include media-query(desktop) {
    font-size: rem-calc(16);
    line-height: 1.3;
    color: $black;
  }
}

.badge {
  padding: rem-calc(10) rem-calc(20);
  margin-bottom: $global-xsm-padding;
  white-space: nowrap;
  background-color: $gray;
  border-radius: $global-radius;
  line-height: 1.4;
  font-weight: 300;
  font-size: 0.85rem;

  @include media-query(desktop) {
    padding: rem-calc(10) rem-calc(20);
    color: $gray-dark;
  }
}
.contact {
  display: block;
  font-size: rem-calc(14);

  &__label {
    font-weight: bold;
  }
}

.badgeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: rem-calc(10);

  .leftBadge,
  .redAlert,
  .rightBadge {
    padding: 0 $global-xsm-padding;
    border-radius: $global-radius;
    color: $white;
    font-size: rem-calc(14);
    line-height: rem-calc(17);
  }

  .leftBadge {
    background-color: $gray-6;
  }

  .rightBadge {
    background-color: $primary-color;
    text-transform: capitalize;
  }
}
