@import '../../../../../styles/index.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  padding: 0 0 $global-padding;

  &__title {
    font-size: rem-calc(22);
    text-transform: none;
    text-align: left;
    font-weight: 700;
  }

  &__delete {
    @extend %baseButton--gray;
    padding-top: rem-calc(4);
    padding-bottom: rem-calc(4);
    font-weight: 700;
    background-color: $alert-secondary-color;
    border-color: $alert-secondary-color;

    svg {
      max-height: rem-calc(11);
      margin-right: rem-calc(4);
      transform: translateY(rem-calc(1));
    }

    &:disabled {
      background: $gray-3;
      border-color: $gray-3;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  padding: rem-calc(14) $global-sm-padding;
  border-bottom: 1px solid $gray;

  &__checkbox {
    margin-right: $global-sm-padding;
  }
}

.content {
  flex: 1;
  margin-right: $global-padding;

  &__text {
    margin: 0;
    font-weight: bold;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__dragHandle {
    max-height: rem-calc(22);
    margin-left: rem-calc(10);
    cursor: row-resize;
  }

  &__icon {
    max-height: rem-calc(20);
    max-width: rem-calc(20);

    path {
      fill: $gray-3;
    }
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem-calc(14) 0;
  border-bottom: 1px solid $gray;
  color: $gray-3;
  font-weight: bold;
  cursor: pointer;

  &__icon {
    @extend %iconButton;

    svg {
      path {
        fill: $primary-color;
        stroke: $primary-color;
      }
    }
  }
}
