@import '../../styles/index.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $alert-color;
  padding: rem-calc(5) rem-calc(8);
  border-radius: rem-calc(3);
  border: rem-calc(1) solid $alert-secondary-color;
  color: $white;
  margin-bottom: rem-calc(16);

  &__title {
    display: grid;
    margin-bottom: rem-calc(5);
    grid-template-columns: 1fr auto;
  }

  &__list {
    padding-left: rem-calc(15);
  }

  &__icon {
    cursor: pointer;

    > svg {
      width: rem-calc(14);
      height: rem-calc(14);
    }
  }
}
